@charset "UTF-8";
* {
  font-family: 'Montserrat', sans-serif; }

body {
  width: 100%;
  font-family: Montserrat, Arial; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

header {
  /* ===== Menu ===== */
  /* ===== /Menu ===== */ }
  header a {
    text-decoration: none; }
  header .top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  header .logo {
    width: 123px;
    height: 99px;
    object-fit: contain; }
  header .header-row {
    display: flex;
    flex-wrap: wrap; }
  header .header-row-top {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #f0f0f0; }
  header .header__left .header-row {
    line-height: 6; }
  header .header__left .usd, header .header__left .eur {
    font-size: 12px;
    line-height: 4.17;
    color: #191919; }
    header .header__left .usd img, header .header__left .eur img {
      margin-right: 9px; }
    header .header__left .usd .dollar, header .header__left .eur .dollar {
      width: 8px;
      height: 21px;
      object-fit: contain; }
    header .header__left .usd .euro, header .header__left .eur .euro {
      width: 13px;
      height: 21px;
      object-fit: contain;
      padding-left: 20px; }
    header .header__left .usd .smartphone, header .header__left .eur .smartphone {
      width: 12px;
      height: 21px;
      object-fit: contain; }
  header .header__left .tel {
    margin-left: 56px;
    margin-right: 10px; }
    header .header__left .tel a {
      font-size: 16px;
      font-weight: 500;
      line-height: 3.17;
      text-align: left;
      color: #191919; }
    header .header__left .tel img {
      margin-right: 9px; }
  header .header__left .marker {
    width: 12px;
    object-fit: contain; }
  header .header__left .adress {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    display: flex; }
    header .header__left .adress .adress__text {
      margin-left: 11px;
      margin-right: 32px; }
  header .header__center {
    display: flex;
    justify-content: center;
    align-items: center; }
    header .header__center .logo {
      width: 123px;
      height: 99px;
      object-fit: contain; }
  header .header__right a {
    line-height: 3.17;
    color: #30a6f9; }
  header .header__right a:hover {
    color: #0688fa; }
  header .header__right .mail a {
    color: #909090;
    text-decoration: none; }
  header .header__right .mail a:hover {
    color: #777777; }
  header .header__right .header-row-top {
    justify-content: flex-end; }
    header .header__right .header-row-top .btn {
      margin-left: 10px;
      margin-right: 45px; }
    header .header__right .header-row-top .city {
      position: relative;
      line-height: 3.17; }
      header .header__right .header-row-top .city select {
        font-size: 11px;
        width: 108px;
        height: 30px;
        border-radius: 15px;
        border: solid 1px #e0e0e0;
        cursor: pointer;
        padding-left: 16px;
        text-indent: 0.01px;
        text-overflow: '';
        -webkit-appearance: button;
        /* hide default arrow in chrome OSX */ }
      header .header__right .header-row-top .city::after {
        /*  Custom dropdown arrow */
        content: "\f107";
        font-family: 'FontAwesome';
        line-height: 4.57;
        right: 12px;
        position: absolute;
        pointer-events: none;
        font-size: 12px; }
  header .header__right .header-row {
    height: 76px;
    justify-content: flex-end;
    line-height: 4.7; }
    header .header__right .header-row form {
      position: relative; }
    header .header__right .header-row input {
      font-size: 13px;
      width: 169px;
      height: 34px;
      border-radius: 22px;
      border: solid 1px #e0e0e0;
      padding-left: 16px;
      text-indent: 0.01px;
      position: relative;
      -webkit-appearance: button;
      /* hide default arrow in chrome OSX */ }
    header .header__right .header-row button {
      margin: 10px 0px 0px -30px; }
    header .header__right .header-row .search__button {
      color: #8c8c8c;
      position: absolute;
      right: 20px;
      top: 28px; }
    header .header__right .header-row .search__button::before {
      content: "\f002";
      font-family: FontAwesome; }
    header .header__right .header-row .btn {
      padding-left: 20px; }
    header .header__right .header-row button.call {
      font-size: 11px;
      height: 38px;
      margin: 0px;
      padding: 0px 20px;
      border-radius: 22px;
      text-transform: uppercase;
      border: 0px;
      background-color: #30a6f9;
      color: #ffffff; }
    header .header__right .header-row button.call:hover {
      background-color: #0688fa; }
  header .nav-conteiner {
    background-color: #2e2e2e; }
    header .nav-conteiner nav {
      margin: 0 auto;
      max-width: 1270px;
      width: 100%;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase; }
      header .nav-conteiner nav #checkbox-menu, header .nav-conteiner nav .toggle {
        display: none; }
      header .nav-conteiner nav .menu {
        height: 54px;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style-type: none; }
      header .nav-conteiner nav .menu li:first-child {
        padding-left: 115px; }
      header .nav-conteiner nav .menu li:last-child {
        padding-right: 115px; }
      header .nav-conteiner nav .menu li a {
        text-decoration: none;
        align-self: center;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        padding: 18px 15px;
        color: #ffffff;
        transition: background 0.2s linear; }
      header .nav-conteiner nav .menu li a:hover {
        background-color: #30a6f9; }

footer {
  background-color: #333333;
  color: #c3c3c3; }
  footer .row {
    padding: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    footer .row .row__menu p {
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.5;
      letter-spacing: normal; }
      footer .row .row__menu p a {
        text-transform: uppercase;
        color: #c3c3c3;
        text-decoration: none; }
      footer .row .row__menu p a:hover {
        color: #dfdfdf; }
    footer .row .row__mail {
      display: flex; }
      footer .row .row__mail .btn {
        margin-left: 10px; }
        footer .row .row__mail .btn a {
          text-decoration: none;
          color: #30a6f9; }
        footer .row .row__mail .btn a:hover {
          color: #0688fa; }
      footer .row .row__mail a {
        color: #c3c3c3;
        text-decoration: none; }
      footer .row .row__mail a:hover {
        color: #dfdfdf; }
    footer .row .row__conf-policy {
      width: 55%;
      font-size: 11px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.73;
      letter-spacing: normal; }
      footer .row .row__conf-policy p {
        margin-bottom: 10px; }
    footer .row .row__tel img {
      margin-right: 11px;
      margin-bottom: 3px; }
    footer .row .row__tel a {
      color: #ffffff;
      text-decoration: none; }
    footer .row .row__tel a:hover {
      color: #dfdfdf; }
    footer .row .row__copyright {
      margin-right: 222px; }
  footer .row:first-child {
    border-bottom: solid 1px #909090;
    align-items: start; }
  footer .footer__logo {
    width: 123px;
    height: 99px;
    object-fit: contain; }
  footer button.call {
    font-size: 11px;
    height: 38px;
    margin: 0px;
    padding: 0px 20px;
    border-radius: 22px;
    text-transform: uppercase;
    border: 0px;
    background-color: #30a6f9;
    color: #ffffff; }
  footer button.call:hover {
    background-color: #0688fa; }

main .slide-wraper {
  position: relative;
  width: 100%;
  overflow: hidden; }
  main .slide-wraper .slide-item.slide1 {
    background-image: url(../img/slider-bg-1.jpg);
    background-position: center center;
    /* Положение фона */
    background-repeat: no-repeat;
    /* Отменяем повторение фона */
    height: 535px; }
  main .slide-wraper .slide-item.slide2 {
    background-image: url(../img/slider-bg-2.jpg);
    background-position: center center;
    /* Положение фона */
    background-repeat: no-repeat;
    /* Отменяем повторение фона */
    height: 535px; }
  main .slide-wraper .slide-item .slide-item__header {
    padding-top: 100px;
    width: 481px;
    font-size: 33px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff; }
  main .slide-wraper .slide-item .slide-item__text {
    padding-top: 30px;
    width: 491px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    text-align: left;
    color: #e1e1e1; }
  main .slide-wraper .slide-item button.btn {
    font-size: 14px;
    height: 57px;
    margin-top: 50px;
    padding: 0px 20px;
    border-radius: 30px;
    text-transform: uppercase;
    border: 0px;
    background-color: #30a6f9;
    color: #ffffff; }
  main .slide-wraper .slide-item button.btn:hover {
    background-color: #0688fa; }
  main .slide-wraper .slide-item .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    bottom: 10.5%;
    left: 18.4%;
    z-index: 1;
    border: none;
    background: transparent; }
  main .slide-wraper .owl-prev, main .slide-wraper .owl-next {
    position: absolute;
    bottom: 42px;
    width: 42px;
    height: 42px;
    background-size: 42px 42px !important; }
  main .slide-wraper .owl-prev {
    background-image: url("../img/left-arrow@2x.png") !important; }
  main .slide-wraper .owl-next {
    background-image: url("../img/right-arrow@2x.png") !important;
    margin-left: 60px; }

.heading {
  width: 100%;
  height: 289px;
  background-image: url(../img/heading-bg.jpg);
  text-align: center;
  margin-bottom: 60px; }
  .heading .heading-title {
    color: #ffffff;
    font-size: 33px;
    font-weight: 500;
    padding-top: 67px;
    margin-bottom: 49px; }
  .heading .heading-text {
    width: 660px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto; }

.about {
  margin-bottom: 85px; }
  .about .about-block {
    display: flex;
    justify-content: space-between; }
    .about .about-block .about-description {
      width: 50%; }
      .about .about-block .about-description .about-title {
        width: 484px;
        font-size: 50px;
        font-weight: 800;
        line-height: 60px;
        color: #272727;
        padding-top: 27px;
        margin-bottom: 49px; }
        .about .about-block .about-description .about-title .name {
          color: #4d5c7c; }
      .about .about-block .about-description .about-text {
        color: #6b6b6b;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 25px; }
      .about .about-block .about-description .learn-start {
        text-decoration: none; }
        .about .about-block .about-description .learn-start .link-text {
          width: 178px;
          height: 47px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #30a6f9;
          border-radius: 3px;
          color: #ffffff;
          font-size: 12px;
          font-weight: 600;
          line-height: 25px; }

.advantages {
  margin-bottom: 75px; }
  .advantages .advantages-block {
    display: flex;
    justify-content: space-between; }
    .advantages .advantages-block .advantages-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 275px;
      height: 226px;
      border: 13px solid rgba(229, 229, 229, 0.5);
      box-sizing: border-box; }
      .advantages .advantages-block .advantages-item .advantages-logo {
        margin-bottom: 22px; }
      .advantages .advantages-block .advantages-item .advantage-text {
        width: 180px;
        text-align: center;
        color: #3c3c3c;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        margin: 0 auto; }
      .advantages .advantages-block .advantages-item .license-text {
        margin-bottom: -22px; }

.reviews {
  margin-bottom: 86px; }
  .reviews .container {
    position: relative; }
    .reviews .container .button-prev {
      position: absolute;
      top: 186px;
      left: 0;
      z-index: 2; }
    .reviews .container .button-next {
      position: absolute;
      top: 186px;
      right: 0;
      z-index: 2; }
    .reviews .container .reviews-title {
      color: #3c3c3c;
      font-size: 30px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      margin-bottom: 68px; }
    .reviews .container .reviews-slider .swiper-wrapper {
      display: flex;
      justify-content: space-between; }
      .reviews .container .reviews-slider .swiper-wrapper .review-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 318px;
        height: 500px;
        background-color: #f5f5f5;
        margin: 0 auto;
        padding: 30px; }
        .reviews .container .reviews-slider .swiper-wrapper .review-item .review-text {
          color: #7a7a7a;
          font-size: 13px;
          font-weight: 400;
          line-height: 22px;
          margin-bottom: 20px; }
        .reviews .container .reviews-slider .swiper-wrapper .review-item .customer-name {
          color: #7a7a7a;
          font-size: 13px;
          font-weight: 700;
          line-height: 22px;
          margin: auto 0 14px; }

.contacts {
  background-color: #f8f8f8; }
  .contacts .contacts-title {
    color: #454545;
    font-size: 26px;
    font-weight: 700;
    line-height: 21px;
    padding-top: 65px;
    margin-bottom: 60px;
    text-align: center; }
  .contacts .contacts-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; }
    .contacts .contacts-block .contacts-row {
      width: 579px;
      height: 238px;
      background-color: #ffffff; }
      .contacts .contacts-block .contacts-row .item-title {
        width: 100%;
        color: #454545;
        font-size: 20px;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
        padding-top: 40px; }
        .contacts .contacts-block .contacts-row .item-title::after {
          content: '__';
          width: 19px;
          height: 1px;
          color: #868686; }
      .contacts .contacts-block .contacts-row .contacts-item {
        display: flex;
        justify-content: space-between;
        padding: 40px 20px 0; }
        .contacts .contacts-block .contacts-row .contacts-item .item {
          width: 155px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center; }
          .contacts .contacts-block .contacts-row .contacts-item .item .contacts-link {
            text-decoration: none;
            color: #454545;
            font-size: 13px;
            font-weight: 400;
            line-height: 34px; }
          .contacts .contacts-block .contacts-row .contacts-item .item .adres-text {
            color: #454545;
            font-size: 13px;
            font-weight: 400;
            line-height: 34px; }
  .contacts .feedback-block {
    height: 288px;
    background-color: #30a6f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px; }
    .contacts .feedback-block .feedback-title {
      width: 438px;
      color: #ffffff;
      font-size: 35px;
      font-weight: 400;
      line-height: 45px; }
    .contacts .feedback-block .feedback-form {
      width: 580px; }
      .contacts .feedback-block .feedback-form .feedback {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .contacts .feedback-block .feedback-form .feedback .input {
          width: 282px;
          height: 55px;
          border: 3px solid #89ceff;
          box-sizing: border-box;
          background-color: #30a6f9;
          color: #89ceff;
          margin-bottom: 18px;
          padding-left: 25px; }
        .contacts .feedback-block .feedback-form .feedback .button {
          border: 3px solid #ffffff;
          color: #ffffff;
          text-align: center;
          padding: 0; }

@media all and (max-width: 765px) {
  header {
    /* ===== Menu ===== */
    /* ===== /Menu-f ===== */ }
    header .nav-conteiner nav .toggle {
      clear: both;
      display: block;
      text-align: center;
      font-size: 40px;
      line-height: 40px;
      width: 100%;
      color: #ffffff;
      transition: all .1s linear; }
    header .nav-conteiner nav .toggle:hover {
      background: #30a6f9; }
    header .nav-conteiner nav #checkbox-menu:checked + label .touch li {
      opacity: 1;
      visibility: visible;
      transition: all .7s linear; }
    header .nav-conteiner nav #checkbox-menu:checked + label .touch {
      height: 178px; }
    header .nav-conteiner nav .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 0;
      transition: height .3s linear; }
    header .nav-conteiner nav .menu li:first-child {
      padding-left: 0px; }
    header .nav-conteiner nav .menu li:last-child {
      padding-right: 0px; }
    header .nav-conteiner nav .menu li {
      display: flex;
      align-self: center;
      width: 100%;
      opacity: 0;
      visibility: hidden; }
    header .nav-conteiner nav .menu li a {
      width: 100%;
      text-align: center;
      align-self: center;
      align-content: center;
      padding: 10px; } }

/*# sourceMappingURL=style.css.map */
