* {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    max-width: 1920px;
    font-family: Montserrat, Arial;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


//
//
// MAIN PAGE
//
//

// HEADER

header {
    .top {
        display: flex;
        flex-wrap: wrap;
    }
    .logo {
    width: 123px;
    height: 99px;
    object-fit: contain;
    }
    .header-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .header__left {

        .usd, .eur {
            font-size: 12px;
            font-weight: 500;
            line-height: 4.17;
            color: #191919;
        }
        .tel {
            font-size: 16px;
            font-weight: 500;
            line-height: 2.69;
            text-align: left;
            color: #191919;
        }
    }
    .header__center {
        .logo {
            width: 123px;
            height: 99px;
            object-fit: contain;
        }
    }
    .header__right {

    }
    /* ===== Menu ===== */
.nav-conteiner {
    height: 54px;
    background-color: #2e2e2e;
    nav {
        margin: 0 auto;
        max-width: 1270px;
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        text-transform: uppercase;
        #checkbox-menu, .toggle, #checkbox-menu-footer {
            display: none;
        }
        .menu {
             padding: 0;
             margin: 0;
             display: flex;
             flex-direction: row;
             justify-content: space-around;
             align-items: center;
             list-style-type: none;}
        .menu li a {
            text-decoration: none;
            align-self: center;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            transition: background 0.2s linear;
        }
    }
}
    /* ===== /Menu ===== */



}

// 
// 
// ABOUT PAGE
//
// 


// HEADING


.heading {
    width: 100%;
    height: 289px;
    background-image: url(../img/heading-bg.jpg);
    text-align: center;
    margin-bottom: 60px;

    .heading-title {
        color: #ffffff;
        font-size: 33px;
        font-weight: 500;
        padding-top: 67px;
        margin-bottom: 49px;
    }
    .heading-text {
        width: 660px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 auto;
    }
}


// ABOUT 


.about {
    margin-bottom: 85px;

    .about-block {
        display: flex;
        justify-content: space-between;
        .about-description {
            width: 50%;
            .about-title {
                width: 484px;
                font-size: 50px;
                font-weight: 800;
                line-height: 60px;
                color: #272727;
                padding-top: 27px;
                margin-bottom: 49px;

                .name {
                color: #4d5c7c;
                }
            }

            .about-text {
                color: #6b6b6b;
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                margin-bottom: 25px;
            }

            .learn-start {
                text-decoration: none;
                
                .link-text {
                    width: 178px;
                    height: 47px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #30a6f9;
                    border-radius: 3px; 
                    color: #ffffff;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 25px;
                }
            }
        }
    }
}


// ADVANTAGES


.advantages {
    margin-bottom: 75px;
    .advantages-block {
        display: flex;
        justify-content: space-between;

        .advantages-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 275px;
            height: 226px;
            border: 13px solid rgba(229, 229, 229, 0.5);
            box-sizing: border-box;
            .advantages-logo {
                margin-bottom: 22px;
            }
            .advantage-text {
                width: 180px;
                text-align: center;
                color: #3c3c3c;
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
                margin: 0 auto;
            }
            .license-text {
                margin-bottom: -22px;
            }
        }
    }
}


//  REVIEWS

.reviews {
    margin-bottom: 86px;
    .container {
        position: relative;
        .button-prev {
            position: absolute;
            top: 186px;
            left: 0;
            z-index: 2;
        }
        .button-next {
            position: absolute;
            top: 186px;
            right: 0;
            z-index: 2;
        }
        .reviews-title {
            color: #3c3c3c;
            font-size: 30px;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
            margin-bottom: 68px;
        }
        
        .reviews-slider {
            .swiper-wrapper {
                display: flex;
                justify-content: space-between;

                .review-item {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 318px;
                    height: 500px;
                    background-color: #f5f5f5;
                    margin: 0 auto;
                    padding: 30px;

                    .review-text {
                        color: #7a7a7a;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 22px;
                        margin-bottom: 20px;
                    }

                    .customer-name {
                        color: #7a7a7a;
                        font-size: 13px;
                        font-weight: 700;
                        line-height: 22px;
                        margin: auto 0 14px;
                    }
                }
            }
        }
    }
}


// CONTACTS


.contacts {
    background-color: #f8f8f8;

    .contacts-title {
        color: #454545;
        font-size: 26px;
        font-weight: 700;
        line-height: 21px;
        padding-top: 65px;
        margin-bottom: 60px;
        text-align: center;
    }

    .contacts-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        .contacts-row {
            width: 579px;
            height: 238px;
            background-color: #ffffff;

            .item-title {
                width: 100%;
                color: #454545;
                font-size: 20px;
                font-weight: 500;
                line-height: 21px;
                text-align: center;
                padding-top: 40px;

                &::after {
                    content: '__';
                    width: 19px;
                    height: 1px;
                    color: #868686;
                }
            }

            .contacts-item {
                display: flex;
                justify-content: space-between;
                padding: 40px 20px 0;
                
                .item {
                    width: 155px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    .contacts-link {
                        text-decoration: none;
                        color: #454545;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 34px;
                    }

                    .adres-text {
                        color: #454545;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 34px;
                    }
                }
            }
        }
    }

    .feedback-block {
        height: 288px;
        background-color: #30a6f9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 55px;

        .feedback-title {
            width: 438px;
            color: #ffffff;
            font-size: 35px;
            font-weight: 400;
            line-height: 45px;
        }

        .feedback-form {
            width: 580px;

            .feedback {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .input {
                    width: 282px;
                    height: 55px;
                    border: 3px solid #89ceff;
                    box-sizing: border-box;
                    background-color: #30a6f9;
                    color: #89ceff;
                    margin-bottom: 18px;
                    padding-left: 25px;
                }
                .button {
                    border: 3px solid #ffffff;
                    color: #ffffff;
                    text-align: center;
                    padding: 0;
                }
            }
        }
    }
}
@media all and (max-width: 800px) {
    /* ===== Menu ===== */
    .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        width: 100%;
        color: #ffffff;
        transition: all .1s linear;
        background: #125884;
    }
    .toggle:hover {
        background: #125884;
    }
    #checkbox-menu:checked + label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox-menu:checked + label .touch {
        height: 350px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
    }
    .menu li {
        display: flex;
        align-self: center;
        width: 100%;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a {
        width: 100%;
        text-align: center;
        align-self: center;
        align-content: center;
        padding: 10px;
    }
    /* ===== /Menu-f ===== */
}