@charset "UTF-8";
@font-face {
  font-family: "DinProBlack";
  src: url("din_pro_black.otf"); }
@font-face {
  font-family: "DinPro";
  src: url("din_pro.otf"); }
@font-face {
  font-family: "Myriad Pro";
  src: url("MyriadPro-Regular.otf"); }
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; }

a {
  text-decoration: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  width: 100%; }

.container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto; }

.mobile {
  display: none; }

header .header-fix {
  position: fixed;
  background-color: white;
  z-index: 99;
  width: 100%; }
  header .header-fix .container .header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 130px; }
    header .header-fix .container .header-top .nav-container nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    header .header-fix .container .header-top .nav-container nav .top-menu {
      position: relative; }
    header .header-fix .container .header-top .nav-container nav .top-menu:after, header .header-fix .container .header-top .nav-container nav .submenu:after {
      content: "";
      display: table;
      clear: both; }
    header .header-fix .container .header-top .nav-container nav .top-menu > li {
      float: left;
      display: block;
      padding: 14px 15px;
      font-size: 13px;
      color: #191919;
      cursor: pointer; }
    header .header-fix .container .header-top .nav-container nav .top-menu > li > a {
      font-size: 14px;
      color: #191919;
      transition: .2s linear; }
    header .header-fix .container .header-top .nav-container nav .top-menu > li > a.active {
      display: block;
      padding: 14px 15px;
      font-size: 13px; }
    header .header-fix .container .header-top .nav-container nav .top-menu > li > a:hover {
      color: gray;
      border-bottom: 1px white solid; }
    header .header-fix .container .header-top .nav-container nav .dropdown:after {
      content: "\f107";
      font-family: FontAwesome;
      margin-left: 4px;
      margin-top: 3px;
      float: right; }
    header .header-fix .container .header-top .nav-container nav .dropright:after {
      content: "\f105";
      font-family: FontAwesome;
      float: right; }
    header .header-fix .container .header-top .nav-container nav .submenu, header .header-fix .container .header-top .nav-container nav .submenu-standart {
      border-top: 1px solid #e5e5e5;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.07);
      background: white;
      padding: 25px 0;
      position: absolute;
      top: 100%;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, 30px, 0);
      transition: .5s ease-out;
      transform-origin: 0% 0%; }
    header .header-fix .container .header-top .nav-container nav .submenu-standart-submenu {
      border-top: 1px solid #e5e5e5;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.07);
      background: white;
      position: absolute;
      top: 80%;
      left: 101%;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, 30px, 0);
      transition: .5s ease-out;
      transform-origin: 0% 0%; }
    header .header-fix .container .header-top .nav-container nav .submenu {
      width: 100%; }
    header .header-fix .container .header-top .nav-container nav .submenu-standart {
      min-width: 200px;
      padding: 0; }
    header .header-fix .container .header-top .nav-container nav .submenu-standart-submenu {
      min-width: 225px;
      padding: 0; }
    header .header-fix .container .header-top .nav-container nav .dropdown-standart {
      position: relative; }
    header .header-fix .container .header-top .nav-container nav .top-menu > li:hover .submenu,
    header .header-fix .container .header-top .nav-container nav .top-menu > li:hover .submenu-standart,
    header .header-fix .container .header-top .nav-container nav .top-menu .submenu-standart > li:hover .submenu-standart-submenu {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0); }
    header .header-fix .container .header-top .nav-container nav .submenu > li {
      float: left;
      width: calc(100% / 3);
      padding: 0 18px;
      border-right: 1px solid #e5e5e5; }
    header .header-fix .container .header-top .nav-container nav .submenu-standart li {
      padding: 10px 18px;
      border-bottom: 1px #e8e8e8 solid; }
    header .header-fix .container .header-top .nav-container nav .submenu-standart li.active {
      color: #666;
      font-size: 14px;
      padding: 12px 18px; }
    header .header-fix .container .header-top .nav-container nav .submenu > li:last-child {
      border-right: none; }
    header .header-fix .container .header-top .nav-container nav .submenu img {
      display: block;
      width: 100%; }
    header .header-fix .container .header-top .nav-container nav .submenu li a, header .header-fix .container .header-top .nav-container nav .submenu-standart li a {
      display: block;
      padding: 5px 0;
      color: #666;
      font-size: 14px; }
    header .header-fix .container .header-top .nav-container nav .submenu li .link-image {
      padding: 0; }
    header .header-fix .container .header-top .nav-container nav .submenu li a:hover, header .header-fix .container .header-top .nav-container nav .submenu-standart li a:hover {
      color: gray; }
    header .header-fix .container .header-top .nav-container nav .submenu h3 {
      font-family: 'Playfair Display', serif;
      font-size: 20px;
      font-weight: 400;
      margin: 10px 0; }
    header .header-fix .container .header-top .nav-container nav #menu-toggle {
      display: none; }
    header .header-fix .container .header-top .nav-container nav .menu-btn {
      display: none; }
    header .header-fix .container .header-top .tel {
      display: flex;
      align-items: center; }
      header .header-fix .container .header-top .tel i.phone-icon {
        display: block;
        margin-right: 10px;
        width: 21px;
        height: 21px;
        background: no-repeat center url(../img/tel.jpg); }
      header .header-fix .container .header-top .tel a {
        font-size: 17px;
        color: #191919;
        font-weight: bold; }
        header .header-fix .container .header-top .tel a:hover {
          color: gray; }
    header .header-fix .container .header-top button {
      border-radius: 23px;
      background-color: #2568ef;
      border: 0;
      width: 155px;
      height: 36px;
      cursor: pointer;
      text-transform: uppercase; }
      header .header-fix .container .header-top button .btn {
        font-size: 11px;
        color: white; }
      header .header-fix .container .header-top button:hover {
        background-color: #0688fa; }

main {
  padding-top: 130px; }
  main .optimization .container {
    background-image: url(../img/banner-image-1.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    height: 575px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    main .optimization .container .column_left {
      width: 52%; }
      main .optimization .container .column_left h1 {
        font-size: 70px;
        font-family: "DinProBlack";
        color: black;
        line-height: 1.143;
        padding-top: 105px; }
        main .optimization .container .column_left h1 span {
          font-family: "DinProBlack"; }
          main .optimization .container .column_left h1 span:before {
            content: url(../img/line.jpg);
            position: absolute;
            z-index: -1;
            margin-top: 7px;
            margin-left: 2px; }
      main .optimization .container .column_left .text {
        font-size: 20px;
        font-family: "DinPro";
        color: black;
        line-height: 1.5;
        width: 56%;
        padding-top: 20px;
        padding-bottom: 60px; }
      main .optimization .container .column_left .form-horizontal .form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        main .optimization .container .column_left .form-horizontal .form-group .input-name input#name.inputbox {
          width: 210px;
          height: 55px;
          border-style: solid;
          border-width: 1px;
          border-color: #eff2f8;
          border-radius: 26px;
          background-color: #eff2f8;
          padding-left: 25px;
          font-size: 16px; }
        main .optimization .container .column_left .form-horizontal .form-group .input-phone input#phone.form-control {
          width: 210px;
          height: 55px;
          border-style: solid;
          border-width: 1px;
          border-color: #eff2f8;
          border-radius: 26px;
          background-color: #eff2f8;
          padding-left: 25px;
          font-size: 16px; }
      main .optimization .container .column_left .form-horizontal .form-group a.button button {
        border-radius: 30px;
        background-color: #2568ef;
        border: 0;
        width: 210px;
        height: 55px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 11px;
        color: white; }
        main .optimization .container .column_left .form-horizontal .form-group a.button button:hover {
          background-color: #0688fa; }
  main .goods .container .goods_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0; }
    main .goods .container .goods_items .item {
      width: 28.3333333333%;
      padding-left: 50px; }
      main .goods .container .goods_items .item h3 {
        font-size: 19px;
        font-family: "DinPro";
        color: #313131;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.526;
        padding-bottom: 25px; }
      main .goods .container .goods_items .item h3.backup:before {
        content: url(../img/backup-file.jpg);
        margin-left: -50px;
        position: absolute;
        margin-top: 4px; }
      main .goods .container .goods_items .item h3.efficiency:before {
        content: url(../img/efficiency.jpg);
        margin-left: -50px;
        position: absolute;
        margin-top: 4px; }
      main .goods .container .goods_items .item h3.code:before {
        content: url(../img/code.jpg);
        margin-left: -50px;
        position: absolute;
        margin-top: 4px; }
      main .goods .container .goods_items .item .text {
        font-size: 16px;
        font-family: "Myriad Pro";
        color: #656565;
        line-height: 1.563;
        padding-right: 71px; }
  main .advantages {
    background-color: #f6f6f6; }
    main .advantages .container {
      padding: 75px 10px;
      background-image: url(../img/back.jpg);
      display: flex;
      flex-wrap: wrap; }
      main .advantages .container .line-index {
        z-index: 3;
        width: 100%; }
        main .advantages .container .line-index h2 {
          font-size: 45px;
          font-family: "DinPro";
          color: #313131;
          line-height: 1.222;
          text-align: center;
          margin: 0 auto;
          width: 40%; }
          main .advantages .container .line-index h2 span {
            font-family: "DinPro"; }
            main .advantages .container .line-index h2 span:before {
              content: url(../img/line.jpg);
              position: absolute;
              z-index: -1;
              margin-top: 12px;
              transform: scaleX(0.7);
              margin-left: -64px; }
      main .advantages .container .items-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 68px; }
        main .advantages .container .items-list .item {
          width: 25%;
          text-align: center; }
          main .advantages .container .items-list .item .info {
            padding: 20px 20px 40px;
            font-size: 16px;
            font-family: "DINPro";
            color: #313131;
            line-height: 1.625; }
  main .how {
    padding: 60px 10px;
    background-image: url(../img/bg-how.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    height: 1044px; }
    main .how .container {
      display: flex;
      flex-wrap: wrap; }
      main .how .container .line-index {
        z-index: 3;
        width: 100%; }
        main .how .container .line-index h2 {
          font-size: 45px;
          font-family: "DinPro";
          color: #313131;
          line-height: 1.222;
          text-align: center;
          margin: 0 auto;
          width: 50%; }
          main .how .container .line-index h2 span {
            font-family: "DinPro"; }
            main .how .container .line-index h2 span:before {
              content: url(../img/line.jpg);
              position: absolute;
              z-index: -1; }
      main .how .container .line-index.how-h h2 span:before {
        margin-top: 7px;
        transform: scaleX(0.8);
        margin-left: -47px; }
      main .how .container .line-index.clients {
        padding-top: 730px; }
        main .how .container .line-index.clients h2 span:before {
          margin-top: 7px;
          transform: scaleX(1.12);
          margin-left: 24px; }
      main .how .container .info {
        margin: 0 auto;
        padding-top: 20px;
        width: 100%;
        font-size: 18px;
        font-family: "DinPro";
        color: #676767;
        line-height: 1.611;
        text-align: center; }
      main .how .container .fields {
        padding-top: 110px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        main .how .container .fields .fields__item {
          border-radius: 10px;
          box-shadow: 0px 13px 62px 0px rgba(0, 0, 0, 0.07);
          text-align: center;
          width: 18%;
          padding: 37px; }
          main .how .container .fields .fields__item img {
            padding-bottom: 27px; }
      main .how .container .line-index.find-out h2 {
        padding-top: 107px;
        font-size: 70px;
        font-family: "DINPro";
        color: black;
        line-height: 1.143; }
        main .how .container .line-index.find-out h2 span:before {
          margin-top: 7px;
          transform: scaleX(0.6);
          margin-left: -94px; }
      main .how .container .form-horizontal {
        padding-top: 47px;
        padding-bottom: 70px;
        width: 28%;
        margin: 0 auto; }
        main .how .container .form-horizontal .form-group .input-name {
          padding-bottom: 20px; }
          main .how .container .form-horizontal .form-group .input-name input#company.inputbox {
            width: 100%;
            height: 55px;
            border-style: solid;
            border-width: 1px;
            border-color: #eff2f8;
            border-radius: 26px;
            background-color: #eff2f8;
            padding-left: 25px;
            font-size: 16px; }
        main .how .container .form-horizontal .form-group .input-phone {
          padding-bottom: 20px; }
          main .how .container .form-horizontal .form-group .input-phone input#phone2.form-control {
            width: 100%;
            height: 55px;
            border-style: solid;
            border-width: 1px;
            border-color: #eff2f8;
            border-radius: 26px;
            background-color: #eff2f8;
            padding-left: 25px;
            font-size: 16px; }
        main .how .container .form-horizontal .form-group a.button button {
          border-radius: 30px;
          background-color: #2568ef;
          border: 0;
          width: 100%;
          height: 55px;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 16px;
          color: white; }
          main .how .container .form-horizontal .form-group a.button button:hover {
            background-color: #0688fa; }
        main .how .container .form-horizontal .text {
          padding: 30px;
          font-size: 13px;
          text-align: center; }
          main .how .container .form-horizontal .text a {
            font-weight: 700;
            text-decoration: underline;
            color: #4b4b4b; }

/*======================================================*/
/*======================================================*/
/*======================================================*/
@media all and (max-width: 1200px) {
  header .header-fix .container {
    padding: 0 10px; }
    header .header-fix .container .header-top .logo {
      overflow: hidden;
      width: 110px; }
      header .header-fix .container .header-top .logo img {
        width: 100%; }
    header .header-fix .container .header-top .nav-container nav .top-menu > li {
      padding: 14px 14px; }
    header .header-fix .container .header-top .tel a {
      font-size: 14px; }
    header .header-fix .container .header-top button {
      width: 110px; }
      header .header-fix .container .header-top button .btn {
        font-size: 8px; }

  main .optimization .container {
    padding: 0 10px; }
    main .optimization .container .column_left h1 {
      font-size: 60px; }
      main .optimization .container .column_left h1 span:before {
        transform: scaleX(0.88);
        margin-left: -27px; }
    main .optimization .container .column_left .text {
      width: 76%; }
    main .optimization .container .column_left .form-horizontal .form-group .input-name input#name.inputbox {
      width: 180px;
      height: 40px;
      padding-left: 15px;
      font-size: 14px; }
    main .optimization .container .column_left .form-horizontal .form-group .input-phone input#phone.form-control {
      width: 180px;
      height: 40px;
      padding-left: 15px;
      font-size: 14px; }
    main .optimization .container .column_left .form-horizontal .form-group a.button button {
      width: 180px;
      height: 40px;
      padding-left: 15px;
      font-size: 9px; }
  main .goods .container .goods_items .item h3 {
    font-size: 15px; }
  main .goods .container .goods_items .item .text {
    font-size: 12px; }
  main .how {
    background-size: 192%; }
    main .how .container .line-index.clients {
      padding-top: 700px; }
    main .how .container .fields .fields__item {
      padding: 30px; }
    main .how .container .form-horizontal {
      width: 31%; } }
@media all and (max-width: 1100px) {
  main .optimization .container .column_left h1 {
    font-size: 54px; }
    main .optimization .container .column_left h1 span:before {
      transform: scaleX(0.78);
      margin-left: -45px;
      margin-top: 11px; }
  main .optimization .container .column_left .text {
    font-size: 18px; }
  main .optimization .container .column_left .form-horizontal .form-group .input-name input#name.inputbox {
    width: 170px; }
  main .optimization .container .column_left .form-horizontal .form-group .input-phone input#phone.form-control {
    width: 170px; }
  main .optimization .container .column_left .form-horizontal .form-group a.button button {
    width: 170px;
    padding-left: 8px; }
  main .goods .container .goods_items .item {
    width: 31.3333333333%; }
  main .how .container .line-index.clients {
    padding-top: 600px; } }
@media all and (max-width: 975px) {
  main .optimization .container .column_left h1 {
    font-size: 60px; } }
@media all and (max-width: 890px) {
  header .header-fix .container .header nav.header-nav ul.nav-menu li.menu-item {
    padding: 10px 7px; }

  main .optimization .container .column_left h1 {
    font-size: 60px; } }
@media all and (max-width: 835px) {
  main .optimization .container .column_left h1 {
    font-size: 60px; } }
@media all and (max-width: 770px) {
  header .header-fix .container .header nav.header-nav ul.nav-menu li.menu-item {
    padding: 10px 4px; }
  header .header-fix .container .header .time-date .text {
    font-size: 12px; }
  header .header-fix .container .header .cart a .text {
    font-size: 12px; }

  main .optimization .container .column_left h1 {
    font-size: 60px; } }
@media all and (max-width: 670px) {
  header .header-fix .container .header-top {
    display: block;
    height: 62px; }
    header .header-fix .container .header-top .logo {
      width: 80px;
      float: left;
      margin: 22px 17px 1px 7px; }
    header .header-fix .container .header-top button {
      display: none; }
    header .header-fix .container .header-top .tel {
      padding-top: 22px; }
    header .header-fix .container .header-top .nav-container nav {
      position: initial;
      /* скрываем чекбокс */
      /* стилизуем кнопку */
      /* добавляем "гамбургер" */
      /* контейнер меню */
      /* элементы меню */ }
      header .header-fix .container .header-top .nav-container nav #menu-toggle {
        opacity: 0; }
      header .header-fix .container .header-top .nav-container nav .menu-btn {
        display: flex;
        /* используем flex для центрирования содержимого */
        align-items: center;
        /* центрируем содержимое кнопки */
        position: absolute;
        top: 19px;
        right: 20px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        z-index: 6; }
      header .header-fix .container .header-top .nav-container nav .menu-btn > span,
      header .header-fix .container .header-top .nav-container nav .menu-btn > span::before,
      header .header-fix .container .header-top .nav-container nav .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: #2568ef; }
      header .header-fix .container .header-top .nav-container nav .menu-btn > span::before {
        content: '';
        top: -6px; }
      header .header-fix .container .header-top .nav-container nav .menu-btn > span::after {
        content: '';
        top: 6px; }
      header .header-fix .container .header-top .nav-container nav .top-menu {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 63px;
        left: 0;
        width: 100%;
        margin: 0;
        list-style: none;
        background-color: #ffffff;
        box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
        z-index: 4; }
        header .header-fix .container .header-top .nav-container nav .top-menu .menu-item {
          padding: 0px;
          line-height: 1.4; }
        header .header-fix .container .header-top .nav-container nav .top-menu .menu-item.active {
          background-color: #CFD8DC; }
      header .header-fix .container .header-top .nav-container nav .menu-link {
        display: block;
        color: #383838;
        font-weight: 100;
        text-decoration: none; }
      header .header-fix .container .header-top .nav-container nav .menu-link:hover {
        background-color: #CFD8DC; }
      header .header-fix .container .header-top .nav-container nav #menu-toggle:checked ~ .menu-btn > span {
        transform: rotate(45deg); }
      header .header-fix .container .header-top .nav-container nav #menu-toggle:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0); }
      header .header-fix .container .header-top .nav-container nav #menu-toggle:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg); }
      header .header-fix .container .header-top .nav-container nav #menu-toggle:checked ~ .top-menu {
        visibility: visible;
        left: 0; }
      header .header-fix .container .header-top .nav-container nav .menu-btn > span,
      header .header-fix .container .header-top .nav-container nav .menu-btn > span::before,
      header .header-fix .container .header-top .nav-container nav .menu-btn > span::after {
        transition-duration: .1s; }
      header .header-fix .container .header-top .nav-container nav .top-menu li {
        width: 100%;
        height: auto !important; }
      header .header-fix .container .header-top .nav-container nav .top-menu > li {
        border-bottom: 1px solid #e5e5e5; }
      header .header-fix .container .header-top .nav-container nav .top-menu > li > a {
        padding: 18px;
        transition: 0s;
        color: #383838; }
      header .header-fix .container .header-top .nav-container nav .top-menu > li > a:hover {
        color: black; }
      header .header-fix .container .header-top .nav-container nav .dropright:after {
        content: "\f107"; }
      header .header-fix .container .header-top .nav-container nav .submenu,
      header .header-fix .container .header-top .nav-container nav .submenu-standart,
      header .header-fix .container .header-top .nav-container nav .submenu-standart-submenu {
        position: relative;
        display: none;
        box-shadow: none;
        padding: 0;
        background: rgba(0, 0, 0, 0.02);
        left: 0; }
      header .header-fix .container .header-top .nav-container nav .submenu-standart li {
        padding: 0px; }
      header .header-fix .container .header-top .nav-container nav .submenu-standart li a {
        padding: 12px 18px; }
      header .header-fix .container .header-top .nav-container nav .submenu > li {
        border-right: none;
        border-bottom: 1px solid #e5e5e5;
        padding: 18px; }
      header .header-fix .container .header-top .nav-container nav .submenu h3 {
        margin: 0 0 10px; }
      header .header-fix .container .header-top .nav-container nav .submenu .image-header {
        margin: 10px 0; }
      header .header-fix .container .header-top .nav-container nav .submenu li:last-of-type {
        border-bottom: none; }
      header .header-fix .container .header-top .nav-container nav .top-menu > li:hover .submenu,
      header .header-fix .container .header-top .nav-container nav .top-menu > li:hover .submenu-standart,
      header .header-fix .container .header-top .nav-container nav .top-menu .submenu-standart > li:hover .submenu-standart-submenu {
        display: block; }

  main .optimization .container .column_left h1 {
    font-size: 60px; } }
@media all and (max-width: 415px) {
  header .header-fix {
    position: fixed;
    background-color: white;
    z-index: 99;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    width: 100%; }

  main {
    padding-top: 62px; }
    main .optimization .container {
      text-align: center;
      background-position: center center;
      z-index: 0; }
      main .optimization .container .column_left {
        width: 100%;
        z-index: 3; }
        main .optimization .container .column_left h1 {
          font-size: 36px; }
          main .optimization .container .column_left h1 span:before {
            transform: scaleX(0.53);
            margin-left: -108px; }
        main .optimization .container .column_left .text {
          width: 100%;
          padding-top: 10px;
          padding-bottom: 20px; }
        main .optimization .container .column_left .form-horizontal .form-group {
          display: block; }
          main .optimization .container .column_left .form-horizontal .form-group .input-name {
            padding-bottom: 12px; }
            main .optimization .container .column_left .form-horizontal .form-group .input-name input#name.inputbox {
              font-size: 18px;
              width: 100%; }
          main .optimization .container .column_left .form-horizontal .form-group .input-phone {
            padding-bottom: 12px; }
            main .optimization .container .column_left .form-horizontal .form-group .input-phone input#phone.form-control {
              font-size: 18px;
              width: 100%; }
        main .optimization .container .column_left .form-horizontal .form-group a.button {
          padding-bottom: 12px; }
          main .optimization .container .column_left .form-horizontal .form-group a.button button {
            width: 100%;
            font-size: 18px; }
    main .goods .container {
      padding: 0 10px; }
      main .goods .container .goods_items {
        padding: 50px 0; }
        main .goods .container .goods_items .item {
          width: 100%; }
          main .goods .container .goods_items .item h3 {
            padding: 10px 0; }
    main .advantages .container .line-index h2 {
      font-size: 39px;
      width: 100%; }
      main .advantages .container .line-index h2 span:before {
        transform: scaleX(0.65);
        margin-left: -83px; }
    main .advantages .container .items-list .item {
      width: 100%; }
    main .how {
      margin-top: 50px;
      padding: 0px 10px; }
      main .how .container .line-index h2 {
        width: 100%; }
      main .how .container .line-index.how-h h2 {
        font-size: 34px; }
        main .how .container .line-index.how-h h2 span:before {
          margin-top: 7px;
          transform: scaleX(0.65);
          margin-left: -80px; }
      main .how .container .line-index.clients {
        padding-top: 270px; }
        main .how .container .line-index.clients h2 {
          font-size: 32px; }
          main .how .container .line-index.clients h2 span:before {
            margin-top: 7px;
            transform: scaleX(0.82);
            margin-left: -42px; }
      main .how .container .fields {
        padding-top: 40px; }
        main .how .container .fields .fields__item {
          width: 48%;
          padding: 28px;
          margin: 12px 0; }
          main .how .container .fields .fields__item .text {
            font-size: 3.5vw; }
      main .how .container .line-index.find-out h2 {
        font-size: 36px; }
        main .how .container .line-index.find-out h2 span:before {
          margin-top: 7px;
          transform: scaleX(0.34);
          margin-left: -154px; }
      main .how .container .form-horizontal {
        width: 100%; } }
@media all and (max-width: 375px) {
  main .how .container .line-index.clients h2 {
    font-size: 30px; }
    main .how .container .line-index.clients h2 span:before {
      margin-top: 7px;
      transform: scaleX(0.77);
      margin-left: -53px; } }
@media all and (max-width: 360px) {
  header .header-fix {
    position: fixed;
    background-color: white;
    z-index: 99;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    width: 100%; }

  main .how .container .line-index.clients h2 {
    font-size: 24px; }
    main .how .container .line-index.clients h2 span:before {
      margin-top: 7px;
      transform: scaleX(0.65);
      margin-left: -79px; } }
@media all and (max-width: 320px) {
  header .header-fix {
    position: fixed;
    background-color: white;
    z-index: 99;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    width: 100%; }
    header .header-fix .container .header .cart {
      padding-left: 2px; } }

/*# sourceMappingURL=style.css.map */
