@font-face {
  font-family: "DrumRegular";
  src: url("drumregular.ttf");
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Medium.ttf");
}
@font-face {
  font-family: "GilroyBlack";
  src: url("Gilroy-Black.ttf");
}
@font-face {
  font-family: "GilroyRegular";
  src: url("Gilroy-Regular.ttf");
}
@font-face {
  font-family: "FiraSansBold";
  src: url("Fira-Sans-Bold.ttf");
}
a {
  text-decoration: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
}
.mobile {
  display: none;
}

header {
  .container {
    .header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      height: 80px;
      padding-right: 15px;
      padding-left: 15px;
      .logo {
        a {
          img.logo-img {}
        }
      }
      nav.header-nav {
        input#menu-toggle {
          display: none;
        }
        label.menu-btn {
          display: none;
          span {}
        }
        ul.nav-menu {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          padding-left: 0px;
          li.menu-item {
            padding: 14px 36px;
            a.menu-link {
              font-size: 15px;
              color: rgb(25, 25, 25);
              &:hover {
                color: #8c8c8c;
              }
            }
          }
        }
      }
      .time-date {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        i.time-date-icon {
          display: block;
          margin-right: 10px;
          width: 24px;
          height: 24px;
          background: no-repeat center url(../img/truck.jpg);
        }
        .text {
          font-size: 16px;
          color: rgb(25, 25, 25);
          font-weight: bold;
          line-height: 1.313;
        }
      }
      .cart {
        a {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          i.cart-icon {
            display: block;
            margin-right: 10px;
            width: 40px;
            height: 40px;
            background: no-repeat center url(../img/cart.png);
          }
          .text {
            font-size: 15px;
            line-height: 1.867;
            color: rgb(25, 25, 25);
            &:hover {
              color: #8c8c8c;
            }
          }
        }
      }
    }
  }
  .slide-wrapper {
    #owl-carousel1.owl-carousel.owl-theme {
      .slide-item.slide1 {
        background-image: url(../img/item-1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        height: 663px;
        .container {
          padding: 155px 10px 155px 10px;
          display: flex;
          justify-content: flex-end;
          .right-block {
            width: 49%;
            .slide_item__header {
              font-size: 100px;
              font-family: "GilroyBlack";
              color: rgb(255, 255, 255);
              line-height: 1;
              span {
                display: block;
                font-size: 60px;
                font-family: "GilroyRegular";
              }
            }
            .slide_item__text {
              font-size: 21px;
              color: rgb(255, 255, 255);
              margin-top: 46px;
              margin-bottom: 58px;
            }
            a {
              .btn {
                border-radius: 3px;
                background-color: #ff3d02;
                width: 150px;
                padding: 10px 10px;

                font-size: 14px;
                font-family: "Gilroy";
                color: white;
                line-height: .0;
                display: flex;
                text-transform: uppercase;
                align-items: center;
                &:before {
                  content: url(../img/btn-menu.png);
                  padding-right: 10px;
                }
              }
            }
          }
        }
      }
      .slide-item.slide2 {
        background-image: url(../img/item-2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        height: 663px;
        .container {

          .slide_item__header {
            font-size: 111px;
            font-family: "DrumRegular";
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            text-align: center;
            padding-top: 34px;
          }
          .slide_item__text {
            background-image: url(../img/line.png);
            background-position: center center;
            background-repeat: no-repeat;
            height: 238px;
            width: 434px;
            float: right;
            text-align: center;
            margin: 55px 152px;
            .call {
              font-size: 73px;
              font-family: "DrumRegular";
              color: rgb(255, 255, 255);
              padding-top: 25px;
            }
            .tel {
              font-size: 50px;
              font-family: "DrumRegular";
              color: #f9f65c;
            }
          }
        }
      }
      .slide-item.slide3 {
        background-image: url(../img/item-3.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        height: 663px;
        .container {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: space-between;
          .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            padding: 0 10px;
            .slide_item__header {
              width: 25%;
              text-transform: uppercase;
              font-family: "DrumRegular";
              font-size: 90px;
              color: #d56862;
              margin-bottom: 100px;
            }
            .slide-item__table {
              width: 25%;
              margin-bottom: 50px;
              .slide_item__text {
                display: flex;
                justify-content: space-between;
                font-family: "DrumRegular";
                font-size: 43px;
                .name {
                  text-transform: uppercase;
                  color: #424242;
                  line-height: 2.093;
                }
                .line {
                  border-bottom: 1px solid #e5e5e5;
                  width: 100%;
                  margin-bottom: 22px;
                }
                .price {
                  line-height: 2.093;
                  color: #d56862;
                }
              }
            }
          }
        }
      }
      .slide-item.slide4 {
        background-image: url(../img/item-4.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        height: 663px;
        .container {
          padding: 124px 10px 120px 70px;
          display: flex;
          .left-block {
            width: 40%;
            .slide_item__header {
              font-size: 100px;
              font-family: "FiraSansBold";
              color: rgb(255, 255, 255);
              line-height: 1;
            }
            .slide_item__text {
              font-family: "DrumRegular";
              font-size: 80px;
              color: #ff3d02;
              margin-top: 20px;
              margin-bottom: 58px;
            }
            a {
              .btn {
                border-radius: 3px;
                background-color: #ff3d02;
                width: 159px;
                height: 46px;
                padding: 0px 10px;

                font-size: 14px;
                font-family: "Gilroy";
                color: white;
                display: flex;
                text-transform: uppercase;
                align-items: center;
                justify-content: center;
                &:hover {
                  background-color: #d93909;
                }
              }
            }
          }
        }
      }
      .slide-item.slide5 {
        background-image: url(../img/item-5.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        height: 663px;
        .container {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: space-between;
          .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            padding: 0 10px 15px 10px;
            .slide-item__address {
              width: 25%;
              font-family: "DrumRegular";
              color: #ffffff;
              text-align: center;
              font-size: 28px;
              line-height: 2.905;
              img {
                width: 25px;
                margin: 0 auto;
              }
            }
            .slide_item__tel {
              .tel-block {
                background-color: #232525;
                width: 303px;
                height: 150px;
                border-radius: 20px;
                box-shadow: 10px 8px 0px rgba(0, 0, 0, 0.18);

                color: #ffffff;
                font-size: 23px;
                text-align: center;
                img {
                  width: 33px;
                  height: 33px;
                  margin: 0 auto;
                  padding-bottom: 16px;
                  padding-top: 33px;
                }
              }
              img {
                width: 69px;
                margin: 0 34%;
              }
              img.shadow {
                transform: translate(9px, -37px);
                opacity: .38;
              }

            }

          }
        }
      }

      .owl-nav {
        margin-top: 0px;
        button {
          position: relative;
          width: 25px;
          height: 43px;
          bottom: 60px;
          border-radius: 3px;
          color: #ffffff;
          font-size: 40px;
          font-weight: bold;
          margin: 0;
          span {
            position: absolute;
            top: -5px;
            left: 7px;
          }
        }
        button.owl-prev {
          left: -45px;
          float: right;
        }
        button.owl-next {
          right: -20px;
          float: right;
        }
      }
    }
  }

}
main {
  .catalog {
    background-color: #fdfdfd;
    .container {
      padding-bottom: 80px;
      h2 {
        margin-top: 40px;
        font-size: 22px;
        color: rgb(51, 51, 51);
        margin-left: 40px;
      }
      h2.meat {
        &:before {
          content: url(../img/snack.svg);
          margin-left: -40px;
          position: absolute;
          margin-top: -6px;
        }
      }
      h2.kebab {
        &:before {
          content: url(../img/kebab.svg);
          margin-left: -40px;
          position: absolute;
          margin-top: 0px;
        }
      }
      h2.meal {
        &:before {
          content: url(../img/meal.svg);
          margin-left: -40px;
          position: absolute;
          margin-top: 0px;
        }
      }
      h2.garnishes {
        &:before {
          content: url(../img/garnishes.svg);
          margin-left: -40px;
          position: absolute;
          margin-top: 0px;
        }
      }
      h2.sauce {
        &:before {
          content: url(../img/sauce.svg);
          margin-left: -40px;
          position: absolute;
          margin-top: 2px;
        }
      }
      h2.food {
        &:before {
          content: url(../img/food.svg);
          margin-left: -40px;
          position: absolute;
          margin-top: 2px;
        }
      }
      h2.drinks {
        &:before {
          content: url(../img/drinks.svg);
          margin-left: -40px;
          position: absolute;
          margin-top: -2px;
        }
      }
      h2.add {
        &:before {
          content: url(../img/add.svg);
          margin-left: -40px;
          position: absolute;
          margin-top: -1px;
        }
      }
      .main-items {
        display: flex;
        flex-wrap: wrap;
        .item {
          margin: 19px 21px 19px 0px;
          width: 409px;
          background-color: #ffffff;
          border-radius: 3px;
          box-shadow: 0px 0px 21px 0px rgba(227, 227, 227, 0.47);
          img {
            width: 100%;
          }
          h3 {
            padding: 0px 20px;
            font-size: 13px;
            color: rgb(62, 62, 62);
            line-height: 3.55;
            border-bottom: 1px solid #f6f6f6;
          }
          .row {
            padding: 10px 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .text {
              .price {
                font-size: 19px;
                color: rgb(62, 62, 62);
                font-weight: bold;
              }
              .info {
                font-size: 11px;
                color: rgb(168, 166, 166);
                line-height: 1.636;
              }
            }
            .quantity {
              font-size: 13px;
              position: relative;
              .quantity-choice {
                padding-left: 16px;
                padding-bottom: 2px;
                width: 124px;
                height: 40px;
                border-radius: 3px;
                border: 1px solid #f0f0f0;
                background-color: transparent;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                position: relative;
                margin-left: 51px;
                z-index: 2;
              }
              &:after {
                padding: 12px;
                content: url(../img/select.svg);
                position: absolute;
                right: 0px;
                z-index: 1;
              }
            }
            a {
              .btn {
                border-radius: 3px;
                background-color: #ff3d02;
                width: 33px;
                padding: 10px 10px;
                font-size: 14px;
                font-family: "Gilroy";
                color: white;
                line-height: .0;
                display: flex;
                text-transform: uppercase;
                align-items: center;
                &::after {
                  content: url(../img/shopping-cart.svg);
                  padding-left: 5px;
                }
                &:hover {
                  background-color: #d93909;
                }
              }
            }
          }
        }
        .item:nth-of-type(3n) {
          margin-right: 0px;
        }
      }
    }
  }


}


/*======================================================*/
/*======================================================*/
/*======================================================*/

@media all and (max-width: 1366px) {
  header {
    .container {
      .header {
        .logo {
          a {
            img.logo-img {}
          }
        }
        nav.header-nav {
          input#menu-toggle {}
          label.menu-btn {
            span {}
          }
          ul.nav-menu {
            li.menu-item {
              a.menu-link {}
            }
          }
        }
        .time-date {
          i.time-date-icon {}
          .text {}
        }
        .cart {
          a {
            i.cart-icon {}
            .text {}
          }
        }
      }
    }
  }
}
@media all and (max-width: 1280px) {
  header {
    .container {
      .header {
        .logo {
          a {
            img.logo-img {}
          }
        }
        nav.header-nav {
          input#menu-toggle {}
          label.menu-btn {
            span {}
          }
          ul.nav-menu {
            li.menu-item {
              a.menu-link {}
            }
          }
        }
        .time-date {
          i.time-date-icon {}
          .text {}
        }
        .cart {
          a {
            i.cart-icon {}
            .text {}
          }
        }
      }
    }
  }

}
@media all and (max-width: 1200px) {
  header {
    .container {
      .header {
        .logo {
          a {
            img.logo-img {}
          }
        }
        nav.header-nav {
          input#menu-toggle {}
          label.menu-btn {
            span {}
          }
          ul.nav-menu {
            li.menu-item {
              padding: 10px 20px;
              a.menu-link {}
            }
          }
        }
        .time-date {
          i.time-date-icon {}
          .text {}
        }
        .cart {
          a {
            i.cart-icon {}
            .text {}
          }
        }
      }
    }
    .slide-wrapper {
      #owl-carousel1.owl-carousel.owl-theme {
        .slide-item.slide1 {
          .container {
            .right-block {
              .slide_item__header {
                font-size: 77px;
                span {}
              }
              .slide_item__text {}
              a {
                .btn {}
              }
            }
          }
        }
        .slide-item.slide2 {
          .container {
            .slide_item__header {
            }
            .slide_item__text {
              margin: 55px 80px;
            }
          }
        }
        .slide-item.slide4 {
          .container {
            .left-block {
              .slide_item__header {
                font-size: 87px;
              }
              .slide_item__text {
                font-size: 65px;
              }
              a {
                .btn {}
              }
            }
          }
        }

      }
    }

  }
}
@media all and (max-width: 1100px) {
  header {
    .container {
      .header {
        .logo {
          a {
            img.logo-img {}
          }
        }
        nav.header-nav {
          input#menu-toggle {}
          label.menu-btn {
            span {}
          }
          ul.nav-menu {
            li.menu-item {
              padding: 10px 15px;
              a.menu-link {}
            }
          }
        }
        .time-date {
          i.time-date-icon {}
          .text {}
        }
        .cart {
          a {
            i.cart-icon {}
            .text {}
          }
        }
      }
    }
    .slide-wrapper {
      #owl-carousel1.owl-carousel.owl-theme {
        .slide-item.slide1 {
          .container {
            .right-block {
              .slide_item__header {
                span {}
              }
              .slide_item__text {}
              a {
                .btn {}
              }
            }
          }
        }
        .slide-item.slide2 {
          .container {
            .slide_item__header {
              font-size: 9vw;
            }
            .slide_item__text {
              a {
                color: #f9f65c;
              }
            }
          }
        }
        .slide-item.slide3 {
          .container {
            .row {
              .slide_item__header {
                font-size: 72px;
              }
              .slide-item__table {
                .slide_item__text {
                  .name {
                  }
                  .line {}
                  .price {}
                }
              }
            }
          }
        }
        .slide-item.slide5 {
          .container {
            .row {
              .slide-item__address {
                font-size: 26px;
                img {
                }
              }
              .slide_item__tel {
                .tel-block {
                  a {
                    color: #ffffff;
                  }
                  img {
                  }
                }
                img {
                }
                img.shadow {
                }
              }
            }
          }
        }
      }
    }

  }

}


@media all and (max-width: 670px) {

  header {
    .container {
      .header {
        justify-content: left;
        .logo {
          overflow: hidden;
          width: 100px;
          a {
            img.logo-img {}
          }
        }
        nav.header-nav {
          input#menu-toggle {
            opacity: 0;
          }
          #menu-toggle:checked ~ .menu-btn > span {
            transform: rotate(45deg);
          }

          #menu-toggle:checked ~ .menu-btn > span::before {
            top: 0;
            transform: rotate(0);
          }

          #menu-toggle:checked ~ .menu-btn > span::after {
            top: 0;
            transform: rotate(90deg);
          }

          #menu-toggle:checked ~ .nav-menu {
            visibility: visible;
            left: 0;
          }

          label.menu-btn {
            display: flex;
            align-items: center;
            position: absolute;
            top: 27px;
            right: 20px;
            width: 25px;
            height: 25px;
            cursor: pointer;
            z-index: 6;
          }
          .menu-btn > span,
          .menu-btn > span::before,
          .menu-btn > span::after {
            display: block;
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: #ff4203;
          }

          .menu-btn > span::before {
            content: '';
            top: -6px;
          }

          .menu-btn > span::after {
            content: '';
            top: 6px;
          }
          ul.nav-menu {
            display: block;
            position: absolute;
            visibility: hidden;
            top: 80px;
            left: 0;
            width: 100%;
            margin: 0;
            padding: 10px 0;
            list-style: none;
            background-color: #ffffff;
            box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
            z-index: 4;
            opacity: 0.95;
            li.menu-item {
              font-size: 20px;
              display: block;
              padding: 12px 36px;
              text-align: left;
              line-height: 1.4;
              a.menu-link {
                display: block;
                color: #000000;
                font-weight: 100;
                text-decoration: none;
              }
            }
          }
        }
        .time-date {
          display: none;
          opacity: 0;
          order: 5;
          i.time-date-icon {}
          .text {}
        }
        .cart {
          order: 2;
          padding-left: 20px;
          a {
            i.cart-icon {}
            .text {}
          }
        }
      }
    }
    .slide-wrapper {
      #owl-carousel1.owl-carousel.owl-theme {
        .slide-item.slide1 {
          height: 413px;
          .container {
            padding: 55px 10px 55px 10px;
            .right-block {
              width: 100%;
              .slide_item__header {
                font-size: 15vw;
                span {
                  font-size: 15vw;
                }
              }
              .slide_item__text {

              }
              a {
                .btn {}
              }
            }
          }
        }
        .slide-item.slide2 {
          height: 413px;
          .container {
            padding: 4% 0px 10%;
            background: rgba(0, 0, 0, 0.5);
            .slide_item__header {
              padding-top: 0px;
              font-size: 14vw;
            }
            .slide_item__text {
              background-size: contain;
              float: none;
              margin: 0 auto;
              width: 80%;
              .call {
                font-size: 17vw;
                padding-top: 34px;
              }
              .tel {
                font-size: 10vw;
              }
            }
          }
        }
        .slide-item.slide3 {
          height: 413px;
          .container {
            padding: 4% 0 10%;
            background: rgba(255, 255, 255, 0.8);
            .row {
              .slide_item__header {
                font-size: 13vw;
                width: 100%;
                margin-bottom: 10px;
                text-align: center;
              }
              .slide-item__table {
                width: 100%;
                .slide_item__text {
                  font-size: 30px;
                  .name {
                    line-height: 1;
                  }
                  .line {
                    line-height: 1;
                  }
                  .price {
                    line-height: 1;
                  }
                }
              }
            }
          }
        }
        .slide-item.slide4 {
          background-position: center right;
          height: 413px;
          .container {
            padding: 12% 10px 10%;
            background: rgba(0, 0, 0, 0.5);
            .left-block {
              width: 100%;
              .slide_item__header {
                font-size: 64px;
                width: 80%;
              }
              .slide_item__text {
                font-size: 60px;
              }
              a {
                .btn {}
              }
            }
          }
        }
        .slide-item.slide5 {
          height: 413px;
          .container {
            background: rgba(0, 0, 0, 0.5);
            .row {
              .slide-item__address {
                width: 100%;
                line-height: 1.4;
                img {
                }
              }
              .slide_item__tel {
                padding-top: 10px;
                margin: 0 auto;
                .tel-block {
                  background-color: #232525;
                  width: 270px;
                  height: 30px;
                  border-radius: 20px;
                  box-shadow: 10px 8px 0px rgba(0, 0, 0, 0.18);
                  color: #ffffff;
                  font-size: 22px;
                  text-align: center;
                  display: flex;
                  justify-content: space-between;
                  padding-bottom: 16px;
                  padding-top: 20px;
                  padding-right: 23px;
                  img {
                    width: 26px;
                    height: 30px;
                    padding-top: 0px;
                  }
                }
                img[alt="Угол"] {
                  display: none;
                }
                img.shadow {
                }
              }
            }
          }
        }
      }
    }

  }

}
@media all and (max-width: 375px) {
  header {
    .container {
      .header {
        .logo {

          a {
            img.logo-img {}
          }
        }
        nav.header-nav {
          input#menu-toggle {}
          label.menu-btn {
            span {}
          }
          ul.nav-menu {
            li.menu-item {
              a.menu-link {}
            }
          }
        }
        .time-date {
          i.time-date-icon {}
          .text {}
        }
        .cart {
          a {
            i.cart-icon {}
            .text {}
          }
        }
      }
    }
    .slide-wrapper {
      #owl-carousel1.owl-carousel.owl-theme {
        .slide-item.slide1 {
          height: 413px;
          .container {
            padding: 55px 10px 55px 10px;
            .right-block {
              width: 100%;
              .slide_item__header {
                font-size: 15vw;
                span {
                  font-size: 15vw;
                }
              }
              .slide_item__text {

              }
              a {
                .btn {}
              }
            }
          }
        }
        .slide-item.slide2 {
          .container {
            .slide_item__header {
            }
            .slide_item__text {
              .call {
              }
              .tel {
              }
            }
          }
        }
        .slide-item.slide4 {
          .container {
            padding: 13% 10px 12%;
            .left-block {
              .slide_item__header {}
              .slide_item__text {
                font-size: 56px;
              }
              a {
                .btn {}
              }
            }
          }
        }
      }
    }
  }
}
@media all and (max-width: 320px) {
  header {
    .container {
      .header {
        .logo {
          a {
            img.logo-img {}
          }
        }
        nav.header-nav {
          input#menu-toggle {}
          label.menu-btn {
            span {}
          }
          ul.nav-menu {
            li.menu-item {
              a.menu-link {}
            }
          }
        }
        .time-date {
          i.time-date-icon {}
          .text {}
        }
        .cart {
          padding-left: 2px;
          a {
            i.cart-icon {}
            .text {}
          }
        }
      }
    }
    .slide-wrapper {
      #owl-carousel1.owl-carousel.owl-theme {
        .slide-item.slide1 {
          height: 413px;
          .container {
            padding: 55px 10px 55px 10px;
            .right-block {
              width: 100%;
              .slide_item__header {
                font-size: 15vw;
                span {
                  font-size: 15vw;
                }
              }
              .slide_item__text {

              }
              a {
                .btn {}
              }
            }
          }
        }
        .slide-item.slide2 {
          .container {
            padding: 11% 0px 10%;
            .slide_item__header {
            }
            .slide_item__text {
              .call {
                font-size: 14vw;
                padding-top: 54px;
              }
              .tel {
              }
            }
          }
        }
        .slide-item.slide3 {
          .container {
            .slide_item__header {
            }
            .slide_item__text {
              .name {
              }
              .line {}
              .price {}
            }
          }
        }
        .slide-item.slide4 {
          .container {
            padding: 16% 10px 22%;
            .left-block {
              .slide_item__header {
                font-size: 57px;
              }
              .slide_item__text {
                font-size: 47px;
              }
              a {
                .btn {}
              }
            }
          }
        }

      }
    }
  }
}
