@charset "UTF-8";
body {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; }

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  overflow: hidden; }

.mobile {
  display: none; }

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: white; }

main {
  margin-top: 140px; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px; }
  .header .logo .logo-img {
    width: 100%;
    max-width: 214px;
    transform: translate(23px, -2px); }
  .header .header-nav {
    margin: 0 auto 0 137px; }
    .header .header-nav .nav-menu {
      width: 433px;
      display: flex;
      justify-content: space-between;
      transform: translateX(1px); }
      .header .header-nav .nav-menu .menu-item {
        color: #414141;
        font-size: 14px;
        font-weight: 700;
        line-height: 47px;
        text-transform: uppercase; }
        .header .header-nav .nav-menu .menu-item .menu-link {
          text-decoration: none;
          color: #414141;
          font-weight: 700; }
    .header .header-nav #menu-toggle {
      display: none; }
    .header .header-nav .menu-btn {
      display: none; }
  .header .phone-number {
    display: flex;
    align-items: center;
    margin: 0px -12px 0 auto; }
    .header .phone-number .phone {
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
      color: #414141; }
    .header .phone-number:before {
      content: url(../img/phone-logo.svg);
      transform: translateX(-15px); }
  .header .cart {
    font-size: 14px;
    font-weight: 500;
    line-height: 47px;
    display: flex;
    align-items: center;
    margin: 0 25px 0 auto; }
    .header .cart:before {
      content: url(../img/cart-logo.svg);
      transform: translate(-11px, 10px); }
  .header .burger-btn {
    display: none; }

.banners {
  margin-bottom: 74px; }
  .banners .swiper-slide {
    background-image: url(../img/slider-bg.jpg);
    height: 677px; }
    .banners .swiper-slide .container {
      overflow: visible; }
    .banners .swiper-slide .slide-wrap {
      display: flex;
      justify-content: space-around; }
      .banners .swiper-slide .slide-wrap .left-item {
        width: 551px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; }
        .banners .swiper-slide .slide-wrap .left-item .slide-title {
          color: #ffffff;
          font-size: 88px;
          font-weight: 800;
          line-height: 98px;
          margin-top: -70px;
          margin-bottom: -16px;
          transform: translateX(7px); }
        .banners .swiper-slide .slide-wrap .left-item .name-block {
          display: flex;
          align-items: center;
          margin-left: 21px;
          width: 444px; }
          .banners .swiper-slide .slide-wrap .left-item .name-block .pizza-name {
            font-size: 17px;
            font-weight: 400;
            line-height: 98px;
            color: #ffffff; }
          .banners .swiper-slide .slide-wrap .left-item .name-block:before {
            content: url(../img/line.svg);
            transform: translate(-15px, -3px); }
        .banners .swiper-slide .slide-wrap .left-item .slider-order {
          padding: 19px 35px;
          border-radius: 32px;
          background-color: #ffd200;
          margin-top: 10px;
          margin-left: 5px; }
          .banners .swiper-slide .slide-wrap .left-item .slider-order .cart-button-name {
            color: #272727;
            font-size: 19px;
            font-weight: 700;
            line-height: 24px;
            margin-left: 10px;
            text-transform: uppercase; }
      .banners .swiper-slide .slide-wrap .right-item {
        width: 50%;
        transform: translate(-90px, 2px); }
  .banners .slide-2 {
    background-image: url(../img/founder-block-bg1.jpg); }
  .banners .banner-left-arrow {
    position: absolute;
    bottom: 10.5%;
    left: 18.4%;
    z-index: 1;
    border: none;
    background: transparent; }
  .banners .banner-right-arrow {
    position: absolute;
    bottom: 10.5%;
    left: 20.9%;
    z-index: 1;
    border: none;
    background: transparent; }

.catalog-content {
  margin-bottom: 88px; }
  .catalog-content .product-row {
    margin-bottom: 82px; }
    .catalog-content .product-row .product-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 46px; }
      .catalog-content .product-row .product-header .product-logo {
        margin-left: 26px; }
      .catalog-content .product-row .product-header .product-title {
        margin-right: auto;
        margin-left: 21px;
        color: #414141;
        font-size: 45px;
        font-weight: 800;
        line-height: 47px; }
      .catalog-content .product-row .product-header .all-products {
        width: 118px;
        height: 36px;
        margin-left: auto;
        margin-right: 20px;
        border-radius: 3px;
        border: 1px solid #414141;
        background: #ffffff;
        color: #191919;
        font-size: 15px;
        font-weight: 500;
        line-height: 21px; }
      .catalog-content .product-row .product-header .product-arrow-left {
        border: none;
        background: transparent;
        margin-right: 6px; }
      .catalog-content .product-row .product-header .product-arrow-right {
        border: none;
        background: transparent;
        margin-right: 20px; }
    .catalog-content .product-row .product-item {
      width: 276px;
      height: 390px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto; }
      .catalog-content .product-row .product-item .product-img {
        width: 275px;
        height: 185px;
        border: 1px solid #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center; }
      .catalog-content .product-row .product-item .product-name {
        color: #272727;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        margin-top: 17px; }
      .catalog-content .product-row .product-item .description {
        max-width: 260px;
        color: #858585;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        margin-bottom: 15px;
        margin-top: auto; }
      .catalog-content .product-row .product-item .product-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; }
        .catalog-content .product-row .product-item .product-form .product-size {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px; }
          .catalog-content .product-row .product-item .product-form .product-size .options {
            justify-content: center;
            align-items: center;
            display: flex;
            width: 100%; }
            .catalog-content .product-row .product-item .product-form .product-size .options .rbtn {
              z-index: -1;
              position: absolute;
              opacity: 0; }
              .catalog-content .product-row .product-item .product-form .product-size .options .rbtn:checked + .option {
                opacity: 1; }
              .catalog-content .product-row .product-item .product-form .product-size .options .rbtn:focus + .option {
                background-color: rgba(153, 0, 204, 0.8); }
            .catalog-content .product-row .product-item .product-form .product-size .options .option {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 98%;
              height: 45px;
              border-radius: 22px;
              background-color: #f7f7f7; }
              .catalog-content .product-row .product-item .product-form .product-size .options .option .size {
                color: #858585;
                font-size: 13px;
                font-weight: 400;
                line-height: 18.4px; }
              .catalog-content .product-row .product-item .product-form .product-size .options .option .price {
                color: #2f2f2f;
                font-size: 13px;
                line-height: 18.4px;
                font-weight: 700; }
      .catalog-content .product-row .product-item .order {
        width: 135px;
        height: 41px;
        border: none;
        background-color: #9900cc;
        border-radius: 20px;
        color: #ffffff; }
    .catalog-content .product-row .sushi-swiper .product-item {
      height: 437px; }
      .catalog-content .product-row .sushi-swiper .product-item .product-form .product-size .options .option {
        flex-direction: row; }
        .catalog-content .product-row .sushi-swiper .product-item .product-form .product-size .options .option .size {
          margin-right: 20px; }
    .catalog-content .product-row .snack-swiper .product-item {
      height: 398px; }
      .catalog-content .product-row .snack-swiper .product-item .product-form .product-size .options .option {
        flex-direction: row; }
        .catalog-content .product-row .snack-swiper .product-item .product-form .product-size .options .option .size {
          margin-right: 20px; }
    .catalog-content .product-row .drink-swiper .product-item {
      height: 348px; }
      .catalog-content .product-row .drink-swiper .product-item .product-form .product-size .options .option {
        flex-direction: row; }
        .catalog-content .product-row .drink-swiper .product-item .product-form .product-size .options .option .size {
          margin-right: 20px; }

.founder-block {
  background-image: url(../img/founder-block-bg.jpg);
  padding-top: 76px;
  margin-bottom: 83px; }
  .founder-block .container {
    display: flex; }
    .founder-block .container .about-founder {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 600px; }
      .founder-block .container .about-founder .founder-title-bg {
        background-image: url(../img/fond-title-bg.png);
        background-position-x: 40px;
        background-position-y: -22px;
        background-repeat: no-repeat;
        color: #ffffff;
        width: 100%;
        font-weight: 800;
        padding: 40px 0 47px; }
        .founder-block .container .about-founder .founder-title-bg .founder-title {
          font-size: 36px;
          margin-left: 93px; }
        .founder-block .container .about-founder .founder-title-bg .founder-subtitle {
          font-size: 26px;
          margin-left: 93px;
          line-height: 2; }
      .founder-block .container .about-founder .founder-description {
        font-size: 15px;
        line-height: 24px;
        color: #262626;
        padding-left: 55px; }

.contacts-block {
  background-image: url(../img/bg-cont.png);
  padding-top: 39px;
  margin-bottom: -17px; }
  .contacts-block .container {
    display: flex; }
    .contacts-block .container .about-founder {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 600px; }
      .contacts-block .container .about-founder .founder-title-bg {
        color: #ffffff;
        width: 100%;
        font-weight: 800;
        padding: 62px 0 110px; }
        .contacts-block .container .about-founder .founder-title-bg .founder-title {
          font-size: 36px;
          margin-left: 93px; }
        .contacts-block .container .about-founder .founder-title-bg .founder-subtitle {
          font-size: 26px;
          margin-left: 93px;
          line-height: 2; }
      .contacts-block .container .about-founder .founder-description {
        font-size: 15px;
        line-height: 24px;
        color: #262626;
        padding-left: 55px; }

.about-block {
  background-image: url(../img/bg-about.png);
  padding-top: 39px;
  margin-bottom: 63px; }
  .about-block .container {
    display: flex; }
    .about-block .container .about-founder {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 780px; }
      .about-block .container .about-founder .founder-title-bg {
        color: #ffffff;
        width: 100%;
        font-weight: 800;
        padding: 35px 0 40px;
        text-align: right; }
        .about-block .container .about-founder .founder-title-bg .founder-title {
          font-size: 36px; }
        .about-block .container .about-founder .founder-title-bg .founder-subtitle {
          font-size: 26px;
          margin-left: 93px;
          line-height: 2; }
      .about-block .container .about-founder .founder-description {
        font-size: 16px;
        line-height: 24px;
        color: #ffffff; }
    .about-block .container .founder-img img.founder {
      margin-top: 110px;
      margin-left: 110px; }

.advantages-block {
  display: flex;
  justify-content: center;
  margin-bottom: 63px; }
  .advantages-block .advantages {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .advantages-block .advantages .advantages_item {
      font-size: 16px;
      color: #5e5e5e;
      line-height: 1.625; }
      .advantages-block .advantages .advantages_item h2 {
        font-size: 25px;
        color: #191919;
        line-height: 2.92; }
    .advantages-block .advantages .advantages_item:first-child {
      margin-right: 50px; }

.photo-block {
  margin-bottom: 63px; }
  .photo-block .container .gallary {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 52px; }
    .photo-block .container .gallary .photo-itm {
      margin-right: 52px; }
    .photo-block .container .gallary .photo-itm:last-child {
      margin-right: 0px; }
    .photo-block .container .gallary .photo-itm img {
      box-sizing: border-box;
      max-width: 100%;
      opacity: 0.7; }
    .photo-block .container .gallary .photo-itm img:hover {
      opacity: 1.0; }
  .photo-block .container .mw-100 {
    max-width: 100%;
    opacity: 0.7; }
  .photo-block .container .mw-100:hover {
    opacity: 1.0; }

.action-block .container {
  max-width: 1210px; }
.action-block .action-header {
  text-align: center;
  margin-bottom: 60px; }
  .action-block .action-header .action-title {
    color: #414141;
    font-size: 45px;
    line-height: 47px;
    font-weight: 800; }
.action-block .action-slider {
  display: flex;
  margin-bottom: 100px; }
  .action-block .action-slider .action-arrow-left {
    border: none;
    background: transparent; }
  .action-block .action-slider .action-arrow-right {
    border: none;
    background: transparent; }
.action-block .action {
  width: 343px;
  height: 241px;
  border: 2px dashed #d9d9d9;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }
  .action-block .action .action-item {
    width: 307px;
    height: 210px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .action-block .action .action-item .action-logo {
      height: 45%;
      transform: translate(20px, 28px); }
    .action-block .action .action-item .action-descritpion {
      color: #ffffff;
      font-size: 15px;
      line-height: 24px;
      margin-left: 20px;
      height: 50%; }
  .action-block .action .delivery-bg {
    background-image: url(../img/delivery-bg.png); }
  .action-block .action .pizzas-bg {
    background-image: url(../img/pizzas-bg.png); }
  .action-block .action .pizza-week-bg {
    background-image: url(../img/week-bg.png); }

.menu-block .product-block {
  margin-bottom: 50px; }
  .menu-block .product-block .product-title-bg {
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .menu-block .product-block .pizza-line {
    background-image: url(../img/pizza-line.png); }
    .menu-block .product-block .pizza-line .product-title {
      color: #ffffff; }
  .menu-block .product-block .sushi-line {
    background-image: url(../img/sushi-line.png); }
  .menu-block .product-block .snack-line {
    background-image: url(../img/snack-line.png); }
    .menu-block .product-block .snack-line .product-title {
      color: #ffffff; }
  .menu-block .product-block .drink-line {
    background-image: url(../img/drink-line.png); }
  .menu-block .product-block .product-title {
    text-align: center;
    font-size: 45px;
    font-weight: 800; }
  .menu-block .product-block .container .product-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px; }
    .menu-block .product-block .container .product-row .product-item {
      width: 276px;
      height: 390px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto 50px; }
      .menu-block .product-block .container .product-row .product-item .product-img {
        width: 275px;
        height: 185px;
        border: 1px solid #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center; }
      .menu-block .product-block .container .product-row .product-item .product-name {
        color: #272727;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        margin-top: 17px; }
      .menu-block .product-block .container .product-row .product-item .description {
        max-width: 260px;
        color: #858585;
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        margin-bottom: 15px;
        margin-top: auto; }
      .menu-block .product-block .container .product-row .product-item .product-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; }
        .menu-block .product-block .container .product-row .product-item .product-form .product-size {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px; }
          .menu-block .product-block .container .product-row .product-item .product-form .product-size .options {
            justify-content: center;
            align-items: center;
            display: flex;
            width: 100%; }
            .menu-block .product-block .container .product-row .product-item .product-form .product-size .options .rbtn {
              z-index: -1;
              position: absolute;
              opacity: 0; }
              .menu-block .product-block .container .product-row .product-item .product-form .product-size .options .rbtn:checked + .option {
                opacity: 1; }
              .menu-block .product-block .container .product-row .product-item .product-form .product-size .options .rbtn:focus + .option {
                background-color: rgba(153, 0, 204, 0.8); }
            .menu-block .product-block .container .product-row .product-item .product-form .product-size .options .option {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 98%;
              height: 45px;
              border-radius: 22px;
              background-color: #f7f7f7; }
              .menu-block .product-block .container .product-row .product-item .product-form .product-size .options .option .size {
                color: #858585;
                font-size: 13px;
                font-weight: 400;
                line-height: 18.4px; }
              .menu-block .product-block .container .product-row .product-item .product-form .product-size .options .option .price {
                color: #2f2f2f;
                font-size: 13px;
                line-height: 18.4px;
                font-weight: 700; }
      .menu-block .product-block .container .product-row .product-item .order {
        width: 135px;
        height: 41px;
        border: none;
        background-color: #9900cc;
        border-radius: 20px;
        color: #ffffff; }
    .menu-block .product-block .container .product-row .sushi-row .product-item {
      height: 437px; }
      .menu-block .product-block .container .product-row .sushi-row .product-item .product-form .product-size .options .option {
        flex-direction: row; }
        .menu-block .product-block .container .product-row .sushi-row .product-item .product-form .product-size .options .option .size {
          margin-right: 20px; }
    .menu-block .product-block .container .product-row .snack-row .product-item {
      height: 398px; }
      .menu-block .product-block .container .product-row .snack-row .product-item .product-form .product-size .options .option {
        flex-direction: row; }
        .menu-block .product-block .container .product-row .snack-row .product-item .product-form .product-size .options .option .size {
          margin-right: 20px; }
    .menu-block .product-block .container .product-row .drink-row .product-item {
      height: 348px; }
      .menu-block .product-block .container .product-row .drink-row .product-item .product-form .product-size .options .option {
        flex-direction: row; }
        .menu-block .product-block .container .product-row .drink-row .product-item .product-form .product-size .options .option .size {
          margin-right: 20px; }

.navigation {
  width: 100%;
  position: fixed;
  top: 140px;
  background-image: url(../img/bg-stick-menu.png);
  height: 82px;
  display: flex;
  align-items: center;
  z-index: 1; }
  .navigation .container {
    display: flex;
    align-items: center;
    justify-content: center; }
    .navigation .container .stick-nav {
      width: 100%;
      max-width: 700px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .navigation .container .stick-nav .stick-nav-item .stick-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 36px; }
        .navigation .container .stick-nav .stick-nav-item .stick-link .name-stick-link {
          margin-left: 16px;
          margin-top: 6px; }

.footer {
  background-color: #7121a0; }
  .footer .container {
    display: flex; }
    .footer .container .left {
      width: 50%;
      padding-left: 25px;
      padding-top: 63px;
      color: #ffffff; }
      .footer .container .left .footer-logo {
        margin-bottom: 45px; }
        .footer .container .left .footer-logo .logo-img {
          width: 100%;
          max-width: 256px; }
      .footer .container .left .list-item {
        display: flex;
        margin-bottom: 25px; }
        .footer .container .left .list-item .logo-list-item {
          transform: translateY(8px); }
        .footer .container .left .list-item .text-list-item {
          line-height: 1.8;
          padding-left: 22px; }
          .footer .container .left .list-item .text-list-item .footer-link {
            text-decoration: none;
            color: #ffffff; }
          .footer .container .left .list-item .text-list-item .list-item-title {
            font-size: 14px;
            font-weight: 600; }
          .footer .container .left .list-item .text-list-item .list-item-info {
            font-size: 15px;
            font-weight: 300; }
    .footer .container .right {
      width: 50%; }
      .footer .container .right .copyright {
        height: 108px;
        background-color: #ffffff;
        color: #595959;
        font-size: 11px;
        line-height: 26px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: -4px; }
        .footer .container .right .copyright .conf-policy {
          margin-right: 10px; }
        .footer .container .right .copyright .logo-dev img {
          margin-left: 10px; }
        .footer .container .right .copyright .logo-dev {
          font-weight: 800;
          margin-left: 10px;
          margin-right: 0px; }

.cart-block .container {
  background-color: white;
  width: 1130px; }
  .cart-block .container .cart-header {
    height: 90px; }
    .cart-block .container .cart-header .clear {
      font-size: 12px;
      color: #cdbcbc;
      font-weight: bold;
      margin: 20px; }
    .cart-block .container .cart-header .total {
      font-size: 25px;
      color: #121212;
      line-height: 0.14;
      text-align: center; }
  .cart-block .container .cart__container {
    display: flex; }
    .cart-block .container .cart__container .cart-body {
      background-color: #f9f9f9;
      box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 1, 0.16);
      display: flex;
      width: 100%;
      padding: 15px 0px; }
      .cart-block .container .cart__container .cart-body .block-itm {
        margin: 20px; }
        .cart-block .container .cart__container .cart-body .block-itm .del_basket {
          font-size: 12px;
          color: #848484; }
        .cart-block .container .cart__container .cart-body .block-itm .img_block {
          margin: 10px 0px;
          border-style: solid;
          border-width: 1px;
          border-color: #ebebeb;
          border-radius: 10px;
          background-color: #ffffff;
          width: 184px;
          height: 167px; }
          .cart-block .container .cart__container .cart-body .block-itm .img_block img {
            margin: 22px 32px;
            width: 121px; }
        .cart-block .container .cart__container .cart-body .block-itm .itm-calc {
          display: flex;
          margin-top: 10px;
          border-style: solid;
          border-width: 1px;
          border-color: #d5d5d5;
          width: 100%;
          height: 35px;
          border-radius: 5px;
          background-color: #ffffff; }
          .cart-block .container .cart__container .cart-body .block-itm .itm-calc .col-itm {
            border-radius: 5px;
            margin-right: 10px;
            background: url(../img/tr.jpg) no-repeat right #fff; }
          .cart-block .container .cart__container .cart-body .block-itm .itm-calc .col-itm select {
            background: transparent;
            height: 34px;
            padding: 10px;
            border: 0;
            line-height: 1;
            -webkit-appearance: none;
            width: 82px; }
        .cart-block .container .cart__container .cart-body .block-itm .price-itm {
          border-left: 1px solid #d5d5d5;
          padding: 10px 10px 0px;
          text-align: right;
          width: 100%; }
        .cart-block .container .cart__container .cart-body .block-itm .item-name {
          font-size: 14px;
          color: #121212; }
  .cart-block .container .cart-footer {
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .cart-block .container .cart-footer button.cart_btn {
      width: 289px;
      height: 61px;
      border: none;
      background-color: #7121a0;
      border-radius: 3px;
      color: #ffffff;
      font-size: 19px; }

/* Базовые стили слоя затемнения и модального окна  */
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  /* фон затемнения */
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  /* фиксированное поцизионирование */
  cursor: default;
  /* тип курсара */ }

/* активируем слой затемнения */
.overlay:target {
  display: block; }

/* стили модального окна */
.popup {
  top: -100%;
  right: 0;
  left: 50%;
  font-size: 14px;
  z-index: 20;
  margin: 0;
  width: 1130px;
  /* фиксированное позиционирование, окно стабильно при прокрутке */
  position: fixed;
  border: 1px solid #383838;
  background: #fefefe;
  /* скругление углов */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font: 14px/18px 'Tahoma', Arial, sans-serif;
  /* внешняя тень */
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  -o-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -webkit-transition: -webkit-transform 0.6s ease-out;
  -moz-transition: -moz-transform 0.6s ease-out;
  -o-transition: -o-transform 0.6s ease-out;
  transition: transform 0.6s ease-out; }

/* активируем модальный блок */
.overlay:target + .popup {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 20%; }

/* формируем кнопку закрытия */
.close {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  position: absolute;
  padding: 0;
  border: 2px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(61, 61, 61, 0.8);
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  font: 13px/20px 'Tahoma', Arial, sans-serif;
  font-weight: bold;
  -webkit-transition: all ease .8s;
  -moz-transition: all ease .8s;
  -ms-transition: all ease .8s;
  -o-transition: all ease .8s;
  transition: all ease .8s; }

.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  font-size: 12px; }

.close:hover {
  background-color: rgba(252, 20, 0, 0.8);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg); }

/* изображения внутри окна */
.popup img {
  width: 100%;
  height: auto; }

/* миниатюры слева/справа */
.pic-left,
.pic-right {
  width: 25%;
  height: auto; }

.pic-left {
  float: left;
  margin: 5px 15px 5px 0; }

.pic-right {
  float: right;
  margin: 5px 0 5px 15px; }

/* элементы м-медиа, фреймы */
.popup embed,
.popup iframe {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  min-width: 320px;
  max-width: 600px;
  width: 100%; }

.popup h2 {
  /* заголовок 2 */
  margin: 0;
  color: #008000;
  padding: 5px 0px 10px;
  text-align: left;
  text-shadow: 1px 1px 3px #adadad;
  font-weight: 500;
  font-size: 1.4em;
  font-family: 'Tahoma', Arial, sans-serif;
  line-height: 1.3; }

/* параграфы */
.popup p {
  margin: 0;
  padding: 5px 0; }

@media screen and (min-width: 380px) and (max-width: 1150px) {
  .banners .swiper-slide .slide-wrap .right-item {
    margin: auto; } }
@media screen and (max-width: 1150px) {
  main {
    margin-top: 74px; }

  .container {
    max-width: 600px;
    overflow: hidden; }

  .desktop {
    display: none; }

  .mobile {
    display: block; }

  header .container {
    overflow: visible; }

  .contacts-block {
    margin-bottom: 16px; }
    .contacts-block .container .about-founder .founder-title-bg {
      padding: 44px 0 92px; }

  .header {
    margin: 0 0 13px;
    padding-top: 24px;
    position: relative; }
    .header .logo {
      z-index: 5; }
      .header .logo .logo-img {
        max-width: 110px;
        transform: translate(20px, -1px); }
    .header .header-nav {
      /* скрываем чекбокс */
      /* стилизуем кнопку */
      /* добавляем "гамбургер" */
      /* контейнер меню */
      /* элементы меню */ }
      .header .header-nav .hamburger-menu {
        display: block; }
      .header .header-nav #menu-toggle {
        opacity: 0; }
      .header .header-nav .menu-btn {
        display: flex;
        /* используем flex для центрирования содержимого */
        align-items: center;
        /* центрируем содержимое кнопки */
        position: absolute;
        top: 26px;
        right: 20px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        z-index: 6; }
      .header .header-nav .menu-btn > span,
      .header .header-nav .menu-btn > span::before,
      .header .header-nav .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: #7504b8; }
      .header .header-nav .menu-btn > span::before {
        content: '';
        top: -6px; }
      .header .header-nav .menu-btn > span::after {
        content: '';
        top: 6px; }
      .header .header-nav .nav-menu {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ffffff;
        box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
        z-index: 4;
        opacity: 0.95; }
        .header .header-nav .nav-menu .menu-item {
          font-size: 20px;
          display: block;
          padding: 12px 36px;
          text-align: left;
          line-height: 1.4; }
      .header .header-nav .menu-link {
        display: block;
        color: #ffffff;
        font-weight: 100;
        text-decoration: none; }
      .header .header-nav .menu-link:hover {
        background-color: #CFD8DC; }
      .header .header-nav #menu-toggle:checked ~ .menu-btn > span {
        transform: rotate(45deg); }
      .header .header-nav #menu-toggle:checked ~ .menu-btn > span::before {
        top: 0;
        transform: rotate(0); }
      .header .header-nav #menu-toggle:checked ~ .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg); }
      .header .header-nav #menu-toggle:checked ~ .nav-menu {
        visibility: visible;
        left: 0; }
      .header .header-nav .menu-btn > span,
      .header .header-nav .menu-btn > span::before,
      .header .header-nav .menu-btn > span::after {
        transition-duration: .25s; }
      .header .header-nav .nav-menu {
        transition-duration: .25s; }
      .header .header-nav ul li a:hover {
        color: #000000; }
      .header .header-nav ul li a:hover::before {
        animation: none; }
    .header .phone-number {
      z-index: 5;
      position: absolute;
      top: 32px;
      right: 80px; }
      .header .phone-number .phone {
        font-size: 14px; }
      .header .phone-number:before {
        display: none; }
    .header .cart {
      display: none; }
    .header .burger-btn {
      display: block;
      width: 25px;
      height: 2px;
      border-radius: 1px;
      background-color: #7504b8;
      position: relative; }
      .header .burger-btn:before {
        content: '';
        width: 25px;
        height: 2px;
        border-radius: 1px;
        background-color: #7504b8;
        position: absolute;
        top: -5px; }
      .header .burger-btn:after {
        content: '';
        width: 25px;
        height: 2px;
        border-radius: 1px;
        background-color: #7504b8;
        position: absolute;
        top: 5px; }

  .banners {
    margin-bottom: 30px; }
    .banners .swiper-slide {
      background-image: url(../img/mob-slide-bg.jpg);
      height: 370px; }
      .banners .swiper-slide .slide-wrap {
        width: 100%;
        max-width: 430px;
        margin: 0 auto;
        height: 370px;
        flex-direction: column;
        position: relative; }
        .banners .swiper-slide .slide-wrap .left-item {
          width: 100%; }
          .banners .swiper-slide .slide-wrap .left-item .slide-title {
            font-size: 26px;
            transform: translate(36px, 69px); }
          .banners .swiper-slide .slide-wrap .left-item .name-block {
            width: auto;
            transform: translate(22px, 68px); }
            .banners .swiper-slide .slide-wrap .left-item .name-block .pizza-name {
              font-size: 12px; }
            .banners .swiper-slide .slide-wrap .left-item .name-block:before {
              display: none; }
          .banners .swiper-slide .slide-wrap .left-item .slider-order {
            padding: 14px 14px;
            position: absolute;
            bottom: 63px;
            left: 60px;
            z-index: 1; }
        .banners .swiper-slide .slide-wrap .right-item {
          transform: translate(14px, 0); }
    .banners .banner-left-arrow {
      bottom: 4.5%;
      left: 40%; }
      .banners .banner-left-arrow img {
        max-width: 14px; }
    .banners .banner-right-arrow {
      bottom: 4.5%;
      left: 50%; }
      .banners .banner-right-arrow img {
        max-width: 14px; }

  .catalog-content {
    margin: 0; }
    .catalog-content .product-row .product-header .product-logo {
      margin-left: 20px; }
      .catalog-content .product-row .product-header .product-logo img {
        max-width: 30px; }
    .catalog-content .product-row .product-header .product-title {
      font-size: 24px;
      margin-left: 11px; }
    .catalog-content .product-row .all-products {
      margin: 37px auto 0;
      background: no-repeat;
      padding: 14px 100px;
      border: 1px solid #414141;
      border-radius: 3px; }

  .contacts-block .about-founder {
    width: 100%; }
    .contacts-block .about-founder .founder-title-bg .founder-title {
      font-size: 19px !important;
      text-align: center;
      margin-left: 0px !important; }

  .about-block {
    background-image: url(../img/mob-about-bg.jpg);
    padding-top: 40px;
    margin-bottom: 53px;
    height: 909px;
    background-position: center;
    /* Положение фона */
    background-repeat: no-repeat;
    /* Отменяем повторение фона */ }
    .about-block .container {
      display: block;
      position: relative;
      height: 904px; }
      .about-block .container .founder-img {
        position: absolute;
        bottom: 0; }
        .about-block .container .founder-img .founder {
          display: none; }
      .about-block .container .about-founder {
        width: 100%; }
        .about-block .container .about-founder .founder-title-bg .founder-title {
          font-size: 19px;
          text-align: center; }
        .about-block .container .about-founder .founder-title-bg .founder-subtitle {
          font-size: 14px;
          margin-left: 38px; }
        .about-block .container .about-founder .founder-description {
          font-size: 14px;
          line-height: 21px;
          padding: 0 20px;
          text-align: center;
          margin-bottom: 26px; }

  .advantages-block {
    display: flex;
    justify-content: center;
    margin-bottom: 63px; }
    .advantages-block .advantages {
      width: 100%;
      display: block;
      justify-content: space-between; }
      .advantages-block .advantages .advantages_item {
        margin: 0 15px;
        text-align: center; }
        .advantages-block .advantages .advantages_item h2 {
          font-size: 20px;
          line-height: 1.5;
          margin: 10px 0px; }
      .advantages-block .advantages .advantages_item:first-child {
        margin-right: 15px; }
      .advantages-block .advantages .advantages_item:last-child {
        margin-top: 50px; }

  .photo-block .container .gallary {
    margin-bottom: 62px; }
    .photo-block .container .gallary .photo-itm {
      margin-right: 0px;
      margin-bottom: 20px; }
    .photo-block .container .gallary .photo-itm:last-child {
      margin-right: 0px; }
    .photo-block .container .gallary .photo-itm img {
      opacity: 1.0; }
  .photo-block .container .mw-100 {
    opacity: 1.0;
    transform: scale(1.8); }

  .founder-block {
    background-image: url(../img/mob-found-bg.png);
    padding-top: 40px;
    margin-bottom: 53px;
    height: 1239px;
    position: relative; }
    .founder-block .container {
      flex-direction: column-reverse; }
      .founder-block .container .founder-img .founder {
        width: 100%;
        max-width: 526px;
        padding-top: 4px;
        position: absolute;
        bottom: 0; }
      .founder-block .container .about-founder {
        width: 100%; }
        .founder-block .container .about-founder .founder-title-bg {
          background-image: url(../img/mob-found-title-bg.png);
          background-position-x: 20px;
          background-position-y: 10px;
          padding: 41px 0px 34px; }
          .founder-block .container .about-founder .founder-title-bg .founder-title {
            font-size: 19px;
            margin-left: 38px; }
          .founder-block .container .about-founder .founder-title-bg .founder-subtitle {
            font-size: 14px;
            margin-left: 38px; }
        .founder-block .container .about-founder .founder-description {
          font-size: 14px;
          line-height: 21px;
          padding: 0 20px;
          text-align: center;
          margin-bottom: 26px; }

  .action-block .action-header {
    margin-bottom: 15px; }
    .action-block .action-header .action-title {
      font-size: 24px; }
  .action-block .action-slider {
    margin-bottom: 83px;
    position: relative; }
    .action-block .action-slider .swiper-slide {
      width: 100%; }
      .action-block .action-slider .swiper-slide .action {
        width: 310px; }
        .action-block .action-slider .swiper-slide .action .action-item {
          width: 277px; }
          .action-block .action-slider .swiper-slide .action .action-item .action-descritpion {
            font-size: 14px; }
    .action-block .action-slider .action-arrow-left {
      position: absolute;
      bottom: -50px;
      left: 46%;
      transform: translateX(-27px); }
    .action-block .action-slider .action-arrow-right {
      position: absolute;
      bottom: -50px;
      right: 46%;
      transform: translateX(27px); }

  .footer {
    background-repeat: repeat; }
    .footer .container {
      flex-direction: column;
      align-items: center; }
      .footer .container .left {
        width: 90%;
        padding: 63px 0 0; }
        .footer .container .left .footer-logo {
          display: flex;
          justify-content: center;
          margin-bottom: 35px; }
          .footer .container .left .footer-logo .logo-img {
            max-width: 200px; }
        .footer .container .left .list-item {
          width: 75%;
          margin: 0 auto 24px; }
          .footer .container .left .list-item .text-list-item .list-item-title {
            font-size: 12px; }
          .footer .container .left .list-item .text-list-item .list-item-info {
            font-size: 13px; }
      .footer .container .right {
        width: 100%; }
        .footer .container .right .map {
          transform: translateX(-70px); }
        .footer .container .right .copyright {
          width: 100%;
          flex-direction: column;
          justify-content: center; }
          .footer .container .right .copyright .copy, .footer .container .right .copyright .conf-policy, .footer .container .right .copyright .logo-dev {
            margin: 0; } }

/*# sourceMappingURL=style.css.map */
