body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    overflow: hidden;
}

.mobile {
    display: none;
}

// 
// 
// HEADER
// 
//

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
    .logo {
        .logo-img {
            width: 100%;
            max-width: 214px;
            transform: translate(23px, -2px);
        }
    }
    .header-nav {
        margin: 0 auto 0 137px;
        .nav-menu {
            width: 433px;
            display: flex;
            justify-content: space-between;
            transform: translateX(1px);
            .menu-item {
                color: #414141;
                font-size: 14px;
                font-weight: 700;
                line-height: 47px;
                text-transform: uppercase;
                .menu-link {
                    text-decoration: none;
                    color: #414141;
                    font-weight: 700;
                }
            }
        }
        #menu-toggle {
            display: none;
        }
        .menu-btn {
            display: none;
        }
    }
    
    .phone-number {
        display: flex;
        align-items: center;
        margin: 0px -12px 0 auto;
        .phone {
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
            color: #414141;
        }
        &:before {
            content: url(../img/phone-logo.svg);
                transform: translateX(-15px);
        }
    }
    .cart {
        font-size: 14px;
        font-weight: 500;
        line-height: 47px;
        display: flex;
        align-items: center;
        margin: 0 25px 0 auto;
        &:before {
            content: url(../img/cart-logo.svg);
            transform: translate(-11px, 10px);
        }
    }
    .burger-btn {
        display: none;
    }
}



// 
// 
// BANNERS SLIDER
// 
// 


.banners {
    margin-bottom: 74px;
    .swiper-slide {
        background-image: url(../img/slider-bg.jpg);
        height: 677px;
        .container {
            overflow: visible;
        }
        .slide-wrap {
            display: flex;
            justify-content: space-around;
            .left-item {
                width: 551px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                .slide-title {
                    color: #ffffff;
                    font-size: 88px;
                    font-weight: 800;
                    line-height: 98px;
                    margin-top: -70px;
                    margin-bottom: -16px;
                    transform: translateX(7px);
                }
                .name-block {
                    display: flex;
                    align-items: center;
                    margin-left: 21px;
                    width: 444px;
                    .pizza-name {
                        font-size: 17px;
                        font-weight: 400;
                        line-height: 98px;
                        color: #ffffff;
                    }
                    &:before {
                        content: url(../img/line.svg);
                        transform: translate(-15px, -3px);
                    }
                }
                .slider-order {
                    padding: 19px 35px;
                    border-radius: 32px;
                    background-color: #ffd200;
                    margin-top: 10px;
                    margin-left: 5px;
                    .cart-button-name {
                        color: #272727;
                        font-size: 19px;
                        font-weight: 700;
                        line-height: 24px;
                        margin-left: 10px;
                        text-transform: uppercase;
                    }
                }
            }
            .right-item {
                width: 50%;
                transform: translate(-90px, 2px);
            }
        }
    }
    // SLIDE-2 background change example
    .slide-2 {
        background-image: url(../img/founder-block-bg1.jpg);
    }
    //

    .banner-left-arrow {
        position: absolute;
        bottom: 10.5%;
        left: 18.4%;
        z-index: 1;
        border: none;
        background: transparent;
    }
    .banner-right-arrow {
        position: absolute;
        bottom: 10.5%;
        left: 20.9%;
        z-index: 1;
        border: none;
        background: transparent;
    }
}



// 
// 
// PRODUCT SLIDER
// 
// 

.catalog-content {
    margin-bottom: 88px;
    .product-row {
        margin-bottom: 82px;
        .product-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 46px;
            .product-logo {
                margin-left: 26px;
            }
            .product-title {
                margin-right: auto;
                margin-left: 21px;
                color: #414141;
                font-size: 45px;
                font-weight: 800;
                line-height: 47px;
            }
            .all-products {
                width: 118px;
                height: 36px;
                margin-left: auto;
                margin-right: 20px;
                border-radius: 3px;
                border: 1px solid #414141;
                background: #ffffff;
                color: #191919;
                font-size: 15px;
                font-weight: 500;
                line-height: 21px;
            }
            .product-arrow-left {
                border: none;
                background: transparent;
                margin-right: 6px;
            }
            .product-arrow-right {
                border: none;
                background: transparent;
                margin-right: 20px;
            }
        }
        .product-item {
            width: 276px;
            height: 390px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            .product-img {
                width: 275px;
                height: 185px;
                border: 1px solid #f2f2f2;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .product-name {
                color: #272727;
                font-size: 15px;
                font-weight: 700;
                line-height: 20px;
                margin-top: 17px;
            }
            .description {
                max-width: 260px;
                color: #858585;
                font-size: 13px;
                font-weight: 400;
                line-height: 21px;
                text-align: center;
                margin-bottom: 15px;
                margin-top: auto;
            }
            .product-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .product-size{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 16px;
                    .options {
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        width: 100%;
                        .rbtn {
                            z-index: -1;
                            position: absolute;
                            opacity: 0;
                            &:checked + .option {
                                opacity: 1;
                            }
                            &:focus + .option {
                                background-color: rgba(153, 0, 204, 0.8);
                            }
                        }
                        .option {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 98%;
                            height: 45px;
                            border-radius: 22px;
                            background-color: #f7f7f7;
                            .size {
                                color: #858585;
                                font-size: 13px;
                                font-weight: 400;
                                line-height: 18.4px;
                            }
                            .price {
                                color: #2f2f2f;
                                font-size: 13px;
                                line-height: 18.4px;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
            .order {
                width: 135px;
                height: 41px;
                border: none;
                background-color: #9900cc;
                border-radius: 20px;
                color: #ffffff;
            }
        }
        .sushi-swiper {
            .product-item {
                height: 437px;
                .product-form {
                    .product-size {
                        .options {
                            .option {
                                flex-direction: row;

                                .size {
                                    margin-right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .snack-swiper {
            .product-item {
                height: 398px;
                .product-form {
                    .product-size {
                        .options {
                            .option {
                                flex-direction: row;

                                .size {
                                    margin-right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .drink-swiper {
            .product-item {
                height: 348px;
                .product-form {
                    .product-size {
                        .options {
                            .option {
                                flex-direction: row;
                                .size {
                                    margin-right: 20px;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}



// 
// 
// FOUNDER-BLOCK
// 
// 

.founder-block {
    background-image: url(../img/founder-block-bg.jpg);
    padding-top: 76px;
    .container {
        display: flex;
        .about-founder {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 600px;
            .founder-title-bg{
                    background-image: url(../img/fond-title-bg.png);
                    background-position-x: 40px;
                    background-position-y: -22px;
                    background-repeat: no-repeat;
                    color: #ffffff;
                    width: 100%;
                    font-weight: 800;
                    padding: 40px 0 47px;
                .founder-title {
                    font-size: 36px;
                    margin-left: 93px;
                }
                .founder-subtitle {
                    font-size: 26px;
                    margin-left: 93px;
                    line-height: 2;
                }
            }
            .founder-description {
                font-size: 15px;
                line-height: 24px;
                color: #262626;
                padding-left: 55px;
            }
        }
    }
    margin-bottom: 83px;
}

//
//
// CONTACTS-BLOCK
//
//

.contacts-block {
    background-image: url(../img/bg-cont.png);
    padding-top: 39px;
    .container {
        display: flex;
        .about-founder {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 600px;
            .founder-title-bg{
                color: #ffffff;
                width: 100%;
                font-weight: 800;
                padding: 62px 0 110px;
                .founder-title {
                    font-size: 36px;
                    margin-left: 93px;
                }
                .founder-subtitle {
                    font-size: 26px;
                    margin-left: 93px;
                    line-height: 2;
                }
            }
            .founder-description {
                font-size: 15px;
                line-height: 24px;
                color: #262626;
                padding-left: 55px;
            }
        }
    }
    margin-bottom: -17px;
}

//
//
// ABOUT-BLOCK
//
//

.about-block {
    background-image: url(../img/bg-about.png);
    padding-top: 39px;
    margin-bottom: 63px;
    .container {
        display: flex;
        .about-founder {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 780px;
            .founder-title-bg{
                color: #ffffff;
                width: 100%;
                font-weight: 800;
                padding: 35px 0 40px;
                text-align: right;
                .founder-title {
                    font-size: 36px;
                }
                .founder-subtitle {
                    font-size: 26px;
                    margin-left: 93px;
                    line-height: 2;
                }
            }
            .founder-description {
                font-size: 16px;
                line-height: 24px;
                color: #ffffff;
            }
        }
        .founder-img img.founder{
            margin-top: 110px;
            margin-left: 110px;
        }
    }
}
.advantages-block {
    display: flex;
    justify-content: center;
    margin-bottom: 63px;
    .advantages {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .advantages_item {
                font-size: 16px;
                color: rgb(94, 94, 94);
                line-height: 1.625;
            h2 {
                    font-size: 25px;
                    color: rgb(25, 25, 25);
                    line-height: 2.92;
            }
        }
        .advantages_item:first-child {
            margin-right: 50px;
        }
    }
}

.photo-block{
    margin-bottom: 63px;
    .container{
        .gallary {
            margin: auto;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 52px;
            .photo-itm {
                margin-right: 52px;
            }
            .photo-itm:last-child {
                margin-right: 0px;
            }
            .photo-itm img{
                box-sizing: border-box;
                max-width: 100%;
                opacity: 0.7;
                }
            .photo-itm img:hover {
                opacity: 1.0;
                }
        }
        .mw-100 {
            max-width: 100%;
            opacity: 0.7;
        }
        .mw-100:hover {
            opacity: 1.0;
        }
    }
}

// 
// 
// ACTION-BLOCK
// 
// 

.action-block {
    .container {
        max-width: 1210px;
    }
    .action-header {
        text-align: center;
        margin-bottom: 60px;
        .action-title {
            color: #414141;
            font-size: 45px;
            line-height: 47px;
            font-weight: 800;
        }
    }
    .action-slider {
        display: flex;
        margin-bottom: 100px;
        .action-arrow-left {
            border: none;
            background: transparent;
        }
        .action-arrow-right {
            border: none;
            background: transparent;
        }
    }
    .action {
        width: 343px;
        height: 241px;
        border: 2px dashed #d9d9d9;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        .action-item {
            width: 307px;
            height: 210px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .action-logo {
                height: 45%;
                transform: translate(20px, 28px);
            }
            .action-descritpion {
                color: #ffffff;
                font-size: 15px;
                line-height: 24px;
                margin-left: 20px;
                height: 50%;
            }
        }
        .delivery-bg {
            background-image: url(../img/delivery-bg.png);
        }
        .pizzas-bg {
            background-image: url(../img/pizzas-bg.png);
        }
        .pizza-week-bg {
            background-image: url(../img/week-bg.png);
        }
    }
}

// 
// 
// MENU-BLOCK
// 
// 

.menu-block {
    .product-block {
        margin-bottom: 50px;
        .product-title-bg {
            height: 206px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pizza-line {
            background-image: url(../img/pizza-line.png);
            .product-title {
                color: #ffffff;
            }
        }
        .sushi-line {
            background-image: url(../img/sushi-line.png);
        }
        .snack-line {
            background-image: url(../img/snack-line.png);
            .product-title {
                color: #ffffff;
            }
        }
        .drink-line {
            background-image: url(../img/drink-line.png);
        }
        .product-title {
            text-align: center;
            font-size: 45px;
            font-weight: 800;
        }
        
        .container {
            .product-row {
                display: flex;
                flex-wrap: wrap;
                margin-top: 60px;
                .product-item {
                    width: 276px;
                    height: 390px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 auto 50px;

                    .product-img {
                        width: 275px;
                        height: 185px;
                        border: 1px solid #f2f2f2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .product-name {
                        color: #272727;
                        font-size: 15px;
                        font-weight: 700;
                        line-height: 20px;
                        margin-top: 17px;
                    }

                    .description {
                        max-width: 260px;
                        color: #858585;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 21px;
                        text-align: center;
                        margin-bottom: 15px;
                        margin-top: auto;
                    }

                    .product-form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;

                        .product-size {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 16px;

                            .options {
                                justify-content: center;
                                align-items: center;
                                display: flex;
                                width: 100%;

                                .rbtn {
                                    z-index: -1;
                                    position: absolute;
                                    opacity: 0;

                                    &:checked+.option {
                                        opacity: 1;
                                    }

                                    &:focus+.option {
                                        background-color: rgba(153, 0, 204, 0.8);
                                    }
                                }

                                .option {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    width: 98%;
                                    height: 45px;
                                    border-radius: 22px;
                                    background-color: #f7f7f7;

                                    .size {
                                        color: #858585;
                                        font-size: 13px;
                                        font-weight: 400;
                                        line-height: 18.4px;
                                    }

                                    .price {
                                        color: #2f2f2f;
                                        font-size: 13px;
                                        line-height: 18.4px;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }

                    .order {
                        width: 135px;
                        height: 41px;
                        border: none;
                        background-color: #9900cc;
                        border-radius: 20px;
                        color: #ffffff;
                    }
                }

                .sushi-row {
                    .product-item {
                        height: 437px;

                        .product-form {
                            .product-size {
                                .options {
                                    .option {
                                        flex-direction: row;

                                        .size {
                                            margin-right: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .snack-row {
                    .product-item {
                        height: 398px;

                        .product-form {
                            .product-size {
                                .options {
                                    .option {
                                        flex-direction: row;

                                        .size {
                                            margin-right: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .drink-row {
                    .product-item {
                        height: 348px;

                        .product-form {
                            .product-size {
                                .options {
                                    .option {
                                        flex-direction: row;

                                        .size {
                                            margin-right: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.navigation {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-image: url(../img/bg-stick-menu.png);
    height: 82px;
    display: flex;
    align-items: center;
    z-index: 1;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        .stick-nav {
            width: 100%;
            max-width: 700px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .stick-nav-item {
                .stick-link {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 36px;
                    .name-stick-link {
                        margin-left: 16px;
                        margin-top: 6px;
                    }
                }
            }
        }
    }
    
}

// 
// 
// FOOTER
// 
// 

.footer {
    background-color: #7121a0;
    .container {
        display: flex;
        .left {
            width: 50%;
            padding-left: 25px;
            padding-top: 63px;
            color: #ffffff;
            .footer-logo {
                margin-bottom: 45px;
                .logo-img {
                    width: 100%;
                    max-width: 256px;
                }
            }
            .list-item {
                display: flex;
                margin-bottom: 25px;
                .logo-list-item {
                    transform: translateY(8px);
                }
                .text-list-item {
                    line-height: 1.8;
                    padding-left: 22px;
                    .footer-link {
                        text-decoration: none;
                        color: #ffffff;
                    }
                    .list-item-title {
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .list-item-info {
                        font-size: 15px;
                        font-weight: 300;
                    }
                }
            }
        }
        .right {
            width: 50%;
            .copyright {
                height: 108px;
                background-color: #ffffff;
                color: #595959;
                font-size: 13px;
                line-height: 26px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: -4px;
                .copy, .conf-policy, .logo-dev {
                    margin: 0;
                }
                .logo-dev {
                    font-weight: 800;
                }
            }
        }
    }
}


// Cart Block

.cart-block {
    .container {
        background-color: white;
        width: 1130px;
        .cart-header {
            .clear {
                font-size: 12px;
                color: rgb(205, 188, 188);
                font-weight: bold;
                margin: 20px;
            }
            .total {
                font-size: 25px;
                color: rgb(18, 18, 18);
                line-height: 0.14;
                text-align: center;
            }

            height: 90px;
        }
        .cart__container {
            display: flex;
            .cart-body {
                background-color: #f9f9f9;
                box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 1, 0.16);
                display: flex;
                width: 100%;
                padding: 15px 0px;
                .block-itm {
                    margin: 20px;
                    .del_basket {
                        font-size: 12px;
                        color: rgb(132, 132, 132);
                    }
                    .img_block {
                        img {
                            margin: 22px 32px;
                            width: 121px;
                        }
                        margin: 10px 0px;
                        border-style: solid;
                        border-width: 1px;
                        border-color: rgb(235, 235, 235);
                        border-radius: 10px;
                        background-color: #ffffff;
                        width: 184px;
                        height: 167px;
                    }
                    .itm-calc {
                        display: flex;
                        margin-top: 10px;
                        border-style: solid;
                        border-width: 1px;
                        border-color: rgb(213, 213, 213);
                        width: 100%;
                        height: 35px;
                        border-radius: 5px;
                        background-color: #ffffff;
                        .col-itm {
                            border-radius: 5px;
                            margin-right: 10px;
                            background: url(../img/tr.jpg) no-repeat right #fff;
                        }
                        .col-itm select {
                            background: transparent;
                            height: 34px;
                            padding: 10px;
                            border: 0;
                            line-height: 1;
                            -webkit-appearance: none;
                            width: 82px;
                        }
                    }
                    .price-itm {
                        border-left: 1px solid #d5d5d5;
                        padding: 10px 10px 0px;
                        text-align: right;
                        width: 100%;
                    }
                    .item-name {
                        font-size: 14px;
                        color: rgb(18, 18, 18);
                    }

                }

            }
        }
        .cart-footer {
            height: 165px;
            display: flex;
            justify-content: center;
            align-items: center;
            button.cart_btn {
                width: 289px;
                height: 61px;
                border: none;
                background-color: #7121a0;
                border-radius: 3px;
                color: #ffffff;
                font-size: 19px;
            }
        }
    }
}

/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay:target {
    display: block;
}
/* стили модального окна */
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 1130px;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    border: 1px solid #383838;
    background: #fefefe;
    /* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    /* внешняя тень */
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* формируем кнопку закрытия */
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
/* изображения внутри окна */
.popup img {
    width: 100%;
    height: auto;
}
/* миниатюры слева/справа */
.pic-left,
.pic-right {
    width: 25%;
    height: auto;
}
.pic-left {
    float: left;
    margin: 5px 15px 5px 0;
}
.pic-right {
    float: right;
    margin: 5px 0 5px 15px;
}
/* элементы м-медиа, фреймы */
.popup embed,
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}
.popup h2 { /* заголовок 2 */
    margin: 0;
    color: #008000;
    padding: 5px 0px 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}
/* параграфы */
.popup p {margin: 0; padding: 5px 0}


// 
// 
// FOR MOBILE
// 
// 

@media screen and (min-width: 380px) and (max-width: 1150px) {
    .banners .swiper-slide .slide-wrap .right-item {
        margin: auto;
    }
}

@media screen and (max-width: 1150px) {


    .container {
        max-width: 600px;
        overflow: hidden;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }


    // HEADER 
    header {
        .container {
            overflow: visible;
        }
    }

    // Contacts
    .contacts-block {
        margin-bottom: 16px;

        .container {
            .about-founder {
                .founder-title-bg {
                    padding: 44px 0 92px;
                }
            }
        }
    }
    .header {
        margin: 0 0 13px;
        padding-top: 24px;
        position: relative;

        .logo {
            z-index: 5;

            .logo-img {
                max-width: 110px;
                transform: translate(20px, -1px);
            }
        }

        .header-nav {
            .hamburger-menu {
                display: block;
            }

            /* скрываем чекбокс */
            #menu-toggle {
                opacity: 0;
            }

            /* стилизуем кнопку */
            .menu-btn {
                display: flex;
                /* используем flex для центрирования содержимого */
                align-items: center;
                /* центрируем содержимое кнопки */
                position: absolute;
                top: 26px;
                right: 20px;
                width: 25px;
                height: 25px;
                cursor: pointer;
                z-index: 6;
            }

            /* добавляем "гамбургер" */
            .menu-btn > span,
            .menu-btn > span::before,
            .menu-btn > span::after {
                display: block;
                position: absolute;
                width: 25px;
                height: 2px;
                background-color: #7504b8;;
            }

            .menu-btn > span::before {
                content: '';
                top: -6px;
            }

            .menu-btn > span::after {
                content: '';
                top: 6px;
            }


            /* контейнер меню */
            .nav-menu {
                display: block;
                position: absolute;
                visibility: hidden;
                top: 0;
                left: 0;
                width: 100%;
                margin: 0;
                padding: 80px 0;
                list-style: none;
                background-color: #ffffff;
                box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
                z-index: 4;
                opacity: 0.95;

                .menu-item {
                    font-size: 20px;
                    display: block;
                    padding: 12px 36px;
                    text-align: left;
                    line-height: 1.4;
                }
            }

            /* элементы меню */
            .menu-link {
                display: block;
                color: #ffffff;
                font-weight: 100;
                text-decoration: none;
            }

            .menu-link:hover {
                background-color: #CFD8DC;
            }

            #menu-toggle:checked ~ .menu-btn > span {
                transform: rotate(45deg);
            }

            #menu-toggle:checked ~ .menu-btn > span::before {
                top: 0;
                transform: rotate(0);
            }

            #menu-toggle:checked ~ .menu-btn > span::after {
                top: 0;
                transform: rotate(90deg);
            }

            #menu-toggle:checked ~ .nav-menu {
                visibility: visible;
                left: 0;
            }

            .menu-btn > span,
            .menu-btn > span::before,
            .menu-btn > span::after {
                transition-duration: .25s;
            }

            .nav-menu {
                transition-duration: .25s;
            }

            ul li a:hover {
                color: #000000;
            }

            ul li a:hover::before {
                animation: none;
            }
        }

        .phone-number {
            z-index: 5;
            position: absolute;
            top: 32px;
            right: 80px;

            .phone {
                font-size: 14px;
            }

            &:before {
                display: none;
            }
        }

        .cart {
            display: none;
        }

        .burger-btn {
            display: block;
            width: 25px;
            height: 2px;
            border-radius: 1px;
            background-color: #7504b8;
            position: relative;

            &:before {
                content: '';
                width: 25px;
                height: 2px;
                border-radius: 1px;
                background-color: #7504b8;
                position: absolute;
                top: -5px;
            }

            &:after {
                content: '';
                width: 25px;
                height: 2px;
                border-radius: 1px;
                background-color: #7504b8;
                position: absolute;
                top: 5px;
            }
        }
    }


    // SLIDER (BANNERS)
    .banners {
        margin-bottom: 30px;

        .swiper-slide {
            background-image: url(../img/mob-slide-bg.jpg);
            height: 370px;

            .slide-wrap {
                width: 100%;
                max-width: 430px;
                margin: 0 auto;
                height: 370px;
                flex-direction: column;
                position: relative;

                .left-item {
                    width: 100%;

                    .slide-title {
                        font-size: 26px;
                        transform: translate(36px, 69px);
                    }

                    .name-block {
                        width: auto;
                        transform: translate(22px, 68px);

                        .pizza-name {
                            font-size: 12px;
                        }

                        &:before {
                            display: none;
                        }
                    }

                    .slider-order {
                        padding: 14px 14px;
                        position: absolute;
                        bottom: 63px;
                        left: 60px;
                        z-index: 1;
                    }
                }

                .right-item {
                    transform: translate(14px, 0);
                }
            }
        }

        .banner-left-arrow {
            bottom: 4.5%;
            left: 40%;

            img {
                max-width: 14px;
            }
        }

        .banner-right-arrow {
            bottom: 4.5%;
            left: 50%;

            img {
                max-width: 14px;
            }
        }
    }


    // CATALOG-CONTENT 

    .catalog-content {
        margin: 0;

        .product-row {
            .product-header {
                .product-logo {
                    margin-left: 20px;

                    img {
                        max-width: 30px;
                    }
                }

                .product-title {
                    font-size: 24px;
                    margin-left: 11px;
                }
            }

            .all-products {
                margin: 37px auto 0;
                background: no-repeat;
                padding: 14px 100px;
                border: 1px solid #414141;
                border-radius: 3px;
            }
        }
    }

    // CONTACTS

    .contacts-block {
        .about-founder {
            width: 100%;
            .founder-title-bg {
                .founder-title {
                    font-size: 19px!important;
                    text-align: center;
                    margin-left: 0px !important;
                }
            }
        }
    }


    // ABOUT

    .about-block {
        background-image: url(../img/mob-about-bg.jpg);
        padding-top: 40px;
        margin-bottom: 53px;
        height: 909px;
        background-position: center; /* Положение фона */
        background-repeat: no-repeat; /* Отменяем повторение фона */
        .container {
            display: block;
            position: relative;
            height: 904px;
            .founder-img {
                position: absolute;
                bottom: 0;
                .founder {
                display: none;
                }
            }
            .about-founder {
                width: 100%;
                .founder-title-bg {
                    .founder-title {
                        font-size: 19px;
                        text-align: center;
                    }
                    .founder-subtitle {
                        font-size: 14px;
                        margin-left: 38px;
                    }
                }
                .founder-description {
                    font-size: 14px;
                    line-height: 21px;
                    padding: 0 20px;
                    text-align: center;
                    margin-bottom: 26px;
                }
            }
        }
    }
    .advantages-block {
        display: flex;
        justify-content: center;
        margin-bottom: 63px;
        .advantages {
            width: 100%;
            display: block;
            justify-content: space-between;
            .advantages_item {
                margin: 0 15px;
                text-align: center;
                h2 {
                    font-size: 20px;
                    line-height: 1.5;
                    margin: 10px 0px;
                }
            }
            .advantages_item:first-child {
                margin-right: 15px;
            }
            .advantages_item:last-child {
                margin-top: 50px;
            }
        }
    }
    .photo-block{
        .container{
            .gallary {
                margin-bottom: 62px;
                .photo-itm {
                    margin-right: 0px;
                    margin-bottom: 20px;
                }
                .photo-itm:last-child {
                    margin-right: 0px;
                }
                .photo-itm img{
                    opacity: 1.0;
                }
            }
            .mw-100 {
                opacity: 1.0;
                transform: scale(1.8);
            }
        }
    }

    // FOUNDER-BLOCK

    .founder-block {
        background-image: url(../img/mob-found-bg.png);
        padding-top: 40px;
        margin-bottom: 53px;
        height: 1239px;
        position: relative;

        .container {
            flex-direction: column-reverse;

            .founder-img {
                .founder {
                    width: 100%;
                    max-width: 526px;
                    padding-top: 4px;
                    position: absolute;
                    bottom: 0;
                }
            }

            .about-founder {
                width: 100%;

                .founder-title-bg {
                    background-image: url(../img/mob-found-title-bg.png);
                    background-position-x: 20px;
                    background-position-y: 10px;
                    padding: 41px 0px 34px;

                    .founder-title {
                        font-size: 19px;
                        margin-left: 38px;
                    }

                    .founder-subtitle {
                        font-size: 14px;
                        margin-left: 38px;
                    }
                }

                .founder-description {
                    font-size: 14px;
                    line-height: 21px;
                    padding: 0 20px;
                    text-align: center;
                    margin-bottom: 26px;
                }
            }
        }
    }


    // ACTION-BLOCK

    .action-block {
        .action-header {
            margin-bottom: 15px;

            .action-title {
                font-size: 24px;
            }
        }

        .action-slider {
            margin-bottom: 83px;
            position: relative;

            .swiper-slide {
                width: 100%;

                .action {
                    width: 310px;

                    .action-item {
                        width: 277px;

                        .action-descritpion {
                            font-size: 14px;
                        }
                    }
                }
            }

            .action-arrow-left {
                position: absolute;
                bottom: -50px;
                left: 46%;
                transform: translateX(-27px);
            }

            .action-arrow-right {
                position: absolute;
                bottom: -50px;
                right: 46%;
                transform: translateX(27px);
            }
        }
    }


    // FOOTER

    .footer {
        background-repeat: repeat;

        .container {
            flex-direction: column;
            align-items: center;

            .left {
                width: 90%;
                padding: 63px 0 0;

                .footer-logo {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 35px;

                    .logo-img {
                        max-width: 200px;
                    }
                }

                .list-item {
                    width: 75%;
                    margin: 0 auto 24px;

                    .text-list-item {
                        .list-item-title {
                            font-size: 12px;
                        }

                        .list-item-info {
                            font-size: 13px;
                        }
                    }
                }
            }

            .right {
                width: 100%;

                .map {
                    transform: translateX(-70px);
                }

                .copyright {
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;

                    .copy, .conf-policy, .logo-dev {
                        margin: 0;
                    }
                }
            }
        }
    }
}