@charset "UTF-8";
* {
  font-family: roboto, sans-serif;
  box-sizing: border-box; }

@font-face {
  font-family: "BetinaScriptRus";
  src: url("betina-script-rus-bold.otf"); }
@font-face {
  font-family: "icomoon-free";
  src: url("IcoMoon-Free.ttf"); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

a {
  text-decoration: none; }

button {
  outline: none; }

.container {
  width: 100vw;
  margin: 0 auto; }

.header__top {
  padding: 0.8vw 1.6vw; }

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__row-top {
  display: flex;
  justify-content: left;
  align-items: center; }

.row {
  display: flex;
  justify-content: space-between; }

.header__logo {
  width: 20vw; }

.header__back-red {
  background-image: url(../img/bg-red.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%; }

.menu {
  float: right; }
  .menu .menu-list {
    list-style-type: none;
    float: left; }
    .menu .menu-list a.menu-link {
      font-size: 14px;
      color: #8c8c8c;
      font-weight: 700;
      text-transform: uppercase;
      padding: 10px 13px; }
    .menu .menu-list a.menu-link:hover {
      color: #212121;
      font-weight: 700;
      line-height: 1.4;
      border-bottom: 3px solid #212121; }
    .menu .menu-list a.menu-link-active {
      color: #212121;
      font-weight: 700;
      line-height: 1.4;
      border-bottom: 3px solid #212121; }

#menu-toggle {
  display: none; }

.menu-btn {
  display: none; }

.header__login {
  text-align: right; }

.header__text {
  font-size: 1.48vw;
  line-height: 2.81vw;
  color: #000000; }

.header__text:before {
  content: "";
  background-position: center;
  width: 2.81vw;
  height: 2.81vw;
  background-repeat: no-repeat;
  margin-left: -2.5vw; }

.town-icon:before {
  background-image: url("../img/header__town-icon.svg");
  background-size: 1vw;
  position: absolute; }

.time-icon:before {
  background-image: url("../img/header__time-icon.svg");
  background-size: 1vw;
  position: absolute; }

.address:before {
  background-image: url("../img/header__address-icon.svg");
  background-size: 1vw;
  position: absolute; }

.header__town-time {
  margin-left: 2vw;
  margin-right: 2vw; }

.header__link.login:after {
  content: "\e971";
  font-family: icomoon-free;
  background-position: center;
  width: 2.11vw;
  height: 2.81vw;
  background-repeat: no-repeat;
  position: absolute; }

.header__link.reg:after {
  content: "\e973";
  font-family: icomoon-free;
  background-position: center;
  width: 2.11vw;
  height: 2.81vw;
  background-repeat: no-repeat;
  position: absolute; }

.header__link.login, .header__link.reg {
  margin-right: 2.11vw; }

/*
.header__text.login:after {
    background-image: url('../img/header__login-icon.svg');
    background-size: 1vw;
}
.header__text.reg:after {
    background-image: url('../img/header__reg-icon.svg');
    background-size: 1vw;
}
*/
.header__link {
  color: #000; }

.header__link:hover {
  color: #D30102; }

.header__text_red {
  font-size: 1.48vw;
  line-height: 2.81vw;
  color: #F90001;
  margin-left: 0.8vw; }

.main_menu {
  display: flex;
  align-items: center;
  padding-left: 0;
  color: #fff;
  list-style: none; }

.main_multimenu {
  display: flex;
  align-items: center;
  padding-left: 0;
  color: #fff;
  list-style: none; }

.main_menu .nav-list {
  margin: 1.64vw 0.16vw; }

.main_menu .nav-list .root-item {
  margin: 0 1.3vw;
  font-size: 1.8vw; }

.main_menu .nav-list .root-item:hover {
  background: #F90001;
  box-shadow: 0.31vw 0.31vw 0.8vw rgba(0, 0, 0, 0.11);
  border-radius: 1.48vw;
  padding: 0.8vw 1.3vw;
  margin: 0;
  color: #E4E22C; }

.main_menu__back {
  position: relative;
  top: -1vw;
  right: 1vw;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background: #F90001;
  box-shadow: 0.08vw 0.08vw 0.39vw rgba(0, 0, 0, 0.34);
  display: flex;
  justify-content: center;
  align-items: center; }

.main_menu__quantity {
  font-size: 1.4vw; }

.main_menu__price {
  font-size: 1.8vw; }

.main_menu a {
  color: #fff; }

.main_menu__cart {
  padding-right: 1.6vw; }

.main_menu__cart a {
  display: flex;
  align-items: center; }

.main_menu__cart a:before {
  content: "\e93a";
  font-family: icomoon-free;
  width: 3.0vw;
  margin-left: -2.5vw;
  height: 3.0vw;
  font-size: 3.0vw; }

.main_menu__cart a:hover {
  color: #E4E22C; }

.slide-wrapper {
  height: 32vw; }

.slide-item__row {
  display: flex;
  justify-content: space-between; }

.slide-item__text {
  margin-left: 4vw; }

.slide-item__header {
  font-family: "BetinaScriptRus";
  font-weight: bold;
  font-size: 3.6vw;
  line-height: 4.6vw;
  letter-spacing: 0.02em;
  color: #FFFFFF; }

.slide-item__span {
  font-family: "BetinaScriptRus";
  font-weight: bold;
  font-size: 5.6vw;
  line-height: 3.6vw;
  letter-spacing: 0.02em;
  color: #E4E22C;
  display: block;
  padding-top: 1vw; }

.slide2 .slide-item__header {
  font-size: 6.6vw;
  padding-top: 6vw; }

.slide2 .slide-item__span {
  font-family: "BetinaScriptRus";
  font-weight: bold;
  font-size: 6.6vw;
  line-height: 3.6vw;
  letter-spacing: 0.02em;
  color: #E4E22C;
  display: block;
  padding-top: 4vw; }

.slide-item__span-add {
  font-family: "BetinaScriptRus";
  font-weight: bold;
  font-size: 2.6vw;
  line-height: 5.6vw;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 5vw; }

.slide-item__info {
  font-size: 1.64vw;
  margin-top: 2.6vw;
  color: #FFCCCC; }

.slide1 {
  background-image: url(../img/frame.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 42vw; }

.slide1 .slide-item__header {
  width: 40%;
  margin-top: 3vw; }

.slide1 .slide-item__img {
  width: 45vw;
  height: 32vw;
  padding-right: 3.59vw;
  background-image: url(../img/cook_pizza.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 37.8vw; }

.slide2 .slide-item__img {
  width: 45vw;
  height: 32vw;
  padding-right: 3.59vw;
  background-image: url(../img/birthday.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 42vw; }

.slide-item__social {
  position: absolute;
  right: 1.6vw;
  top: 2.03vw;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 12vw; }

.owl-dots {
  position: relative;
  bottom: 4.68vw; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0; }

.owl-theme .owl-dots .owl-dot span {
  width: 1.79vw;
  height: 1.79vw;
  margin: 0.39vw 0.55vw;
  background: #FFCCCC;
  border: 0.08vw solid #FFCCCC; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #D30102;
  border: 0.08vw solid #FFCCCC; }

/*==============================================
===================== Main =====================
==============================================*/
main {
  background-image: url(../img/background-image.jpg);
  background-position: center top;
  padding-bottom: 7.80vw; }

.main__title {
  margin: 2.37vw 1.6vw 3.9vw;
  font-weight: 900;
  font-size: 3vw;
  line-height: 4vw;
  color: #F90001; }

.main__item-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.main__frame {
  width: 25%;
  padding: 1.6vw;
  margin: 1.6vw 0;
  border-right: 0.08vw solid #C6C6C6; }

.main__frame:nth-child(4n+4) {
  border-right: 0 solid; }

.main__block-item a {
  opacity: .9; }

.main__block-item a:hover {
  opacity: 1; }

.main__block-item img {
  width: 100%; }

.main__name {
  margin-top: 1.4vw;
  margin-bottom: 0.3vw;
  font-weight: bold;
  font-size: 1.8vw;
  line-height: 2vw;
  display: flex;
  color: #000000;
  min-height: 4vw; }

.main__description {
  margin-bottom: 0.5vw;
  font-size: 1.1vw;
  line-height: 1.48vw;
  min-height: 5vw;
  color: #707070; }

.main__item-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.main__item-price {
  font-weight: bold;
  font-size: 2.3vw;
  line-height: 2.5vw;
  color: #000000; }

.main__item-info {
  font-size: .8vw;
  color: #C6C6C6; }

.main__item-btn {
  width: 8vw;
  height: 3.5vw;
  border: 0.18vw solid #F90001;
  box-sizing: border-box;
  border-radius: 1.48vw;
  font-size: 1.2vw;
  line-height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F90001; }

.main__item-btn:hover {
  background-color: #D30102;
  border: 0.18vw solid #D30102;
  color: #fff;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s; }

.main__title-about {
  font-family: BetinaScriptRus;
  font-weight: bold;
  font-size: 4vw;
  line-height: 5vw;
  margin: 6vw 1.48vw 4vw;
  color: #F90001; }

.about__row {
  padding: 0 1.6vw;
  display: flex;
  justify-content: space-between; }

.about__text {
  width: 55%;
  font-size: 2.3vw;
  line-height: 3vw;
  color: #3E3E3E;
  padding-right: 3vw; }

.about__text p {
  margin: 2.3vw 0; }

.about__photos {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.about__photo {
  margin: 1.48vw 0; }

.about__photo.photo1 {
  width: 100%;
  height: 36.5vw;
  background-image: url(../img/about__photo1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.about__photo.photo2 {
  width: 47%;
  height: 36.5vw;
  background-image: url(../img/about__photo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.about__photo.photo3 {
  width: 47%;
  height: 36.5vw;
  background-image: url(../img/about__photo3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.main__info {
  font-size: 3vw;
  padding: 0 1.6vw;
  color: #707070; }

.delivery__row {
  margin: 1.6vw;
  display: flex;
  justify-content: space-between; }

.delivery__table {
  width: 50%;
  padding-right: 1.6vw; }

.delivery__table-row {
  display: flex;
  justify-content: space-between;
  font-size: 2.3vw;
  line-height: 4.9vw;
  color: #707070; }

.delivery__table-row-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 2.7vw;
  color: #000000; }

.delivery__photo {
  border-radius: 3vw;
  width: 50%;
  height: 65vw;
  background-image: url(../img/delivery__photo-back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.contacts__row {
  display: flex;
  justify-content: space-between;
  padding: 0 1.6vw; }

.contacts__title {
  font-weight: bold;
  font-size: 3.1vw; }

.contacts__text {
  font-size: 1.8vw; }

.contacts__subtitle {
  font-size: 1.8vw;
  margin-top: 2vw; }

.contacts__title-phone {
  font-weight: bold;
  font-size: 2.3vw; }

.contacts__phone {
  margin-top: 1.2vw;
  font-size: 2.1vw; }

.contacts__phone + .contacts__title-phone {
  margin-top: 1.7vw; }

.goods__row {
  display: flex;
  justify-content: space-between; }

.goods__row_min {
  display: flex;
  justify-content: center; }

.link-photo-min {
  margin: 1.6vw 0.8vw; }

.goods__photo-price {
  width: 50%;
  text-align: center;
  padding-top: 2.34vw; }

.link-photo img {
  width: 38vw; }

.goods__description {
  width: 50%;
  padding: 2.34vw 1.6vw; }

.goods__name {
  font-weight: bold;
  font-size: 2.75vw;
  line-height: 3.2vw; }

.goods__composition-title {
  margin-top: 1.95vw;
  font-size: 2.18vw;
  line-height: 2.57vw; }

.goods__composition {
  margin-top: 1.01vw;
  font-size: 1.95vw;
  line-height: 2.26vw;
  color: #707070; }

.goods__composition-row {
  margin-top: 1.01vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%; }

.goods__column {
  width: 50%;
  font-size: 1.72vw;
  line-height: 2.03vw;
  color: #707070;
  margin-bottom: 0.94vw; }

.goods__column-right {
  width: 50%;
  text-align: right;
  font-size: 1.72vw;
  line-height: 2.03vw;
  color: #707070;
  margin-bottom: 0.94vw; }

.goods__variations-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3.12vw; }

.goods__variation {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0.16vw 0.16vw 1.6vw rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center; }

.goods__variation:hover {
  background-color: #fff;
  box-shadow: 0.31vw 0.31vw 3.12vw rgba(0, 0, 0, 0.5);
  cursor: pointer; }

.goods__forty {
  width: 14.4vw;
  height: 14.4vw; }

.goods__thirty {
  width: 12.48vw;
  height: 12.48vw; }

.goods__twenty {
  width: 10.92vw;
  height: 10.92vw; }

.goods__link .goods__active {
  background-color: #F90001; }

.goods__link .goods__active .goods__variation_row {
  color: #fff; }

.goods__link .goods__variation_row {
  font-size: 1.40vw;
  line-height: 1.64vw;
  text-align: center;
  color: #707070; }

.quantity__list {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  max-width: 11.70vw;
  margin: 0 auto 1.17vw; }

.goods__quantity_price-list {
  margin-top: 4.68vw;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.goods__price {
  font-size: 3.51vw;
  line-height: 4.13vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000; }

.quantity__btn-minus:after, .quantity__btn-plus:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: .8;
  transition: opacity 300ms ease,background 300ms ease; }

.quantity__btn-minus, .quantity__btn-plus {
  position: relative;
  display: block;
  min-width: 3.51vw;
  height: 3.51vw;
  border: 0.16vw solid #F90001;
  border-radius: 0.8vw;
  background-color: #fff;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  transition: background 300ms ease,opacity 300ms ease; }

.quantity__btn-minus:after {
  background: url(../img/minus.png) no-repeat center;
  background-size: 1.25vw; }

.quantity__btn-plus:after {
  background: url(../img/plus.png) no-repeat center;
  background-size: 1.25vw; }

.product-item-amount-field {
  font-size: 2.34vw;
  display: block;
  padding: 0;
  width: 100%;
  height: 3.51vw;
  border: 0.08vw solid transparent;
  border-radius: 0.16vw;
  background: transparent !important;
  color: #000;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  line-height: 3.51vw;
  transition: border 300ms ease; }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

.product-item-amount-description-container {
  position: absolute;
  text-align: center;
  width: 4.68vw;
  color: #C6C6C6; }

.goods__bay-btn {
  width: 14.12vw;
  height: 5.38vw;
  background: #F90001;
  border-radius: 1.6vw;
  font-size: 1.95vw;
  line-height: 5vw;
  align-items: center;
  text-align: center;
  color: #fff; }

.goods__bay-btn:hover {
  background: #D30102;
  color: #fff; }

.goods__additionally-title {
  font-size: 2.42vw;
  line-height: 2.81vw;
  margin-left: 1.6vw; }

.goods__frame {
  width: 100%;
  padding: 1.6vw;
  margin: 1.6vw 0; }

.goods__additionally {
  background: #FFFFFF;
  box-shadow: 0 0.31vw 1.6vw rgba(0, 0, 0, 0.15);
  border-radius: 1.17vw;
  padding: 1.6vw;
  text-align: center; }

.goods__additionally img {
  width: 10vw; }

.goods__additionally-name {
  margin-top: 1.09vw;
  margin-bottom: 1.95vw;
  font-size: 1vw;
  line-height: 1.48vw;
  color: #707070; }

.goods__additionally-price-bay {
  display: flex;
  justify-content: space-between; }

.goods__additionally-price {
  font-size: 1.95vw;
  line-height: 2.26vw; }

.goods__additionally-bay-btn {
  width: 2.34vw;
  height: 2.34vw;
  border: 0.16vw solid #F90001;
  box-sizing: border-box;
  border-radius: 0.8vw;
  font-size: 1.95vw;
  line-height: 1.87vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F90001; }

.goods__additionally-bay-btn:hover {
  background-color: #D30102;
  color: #fff; }

.cart__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.08vw solid #C6C6C6;
  margin: 0 1.6vw; }

.cart__img {
  width: 15.6vw; }

.cart__img img {
  width: 100%;
  padding: 1.6vw 0; }

.cart__text {
  width: 31.2vw; }

.cart__link .cart__name {
  font-weight: bold;
  font-size: 2.73vw;
  line-height: 3.2vw;
  color: #000; }

.cart__link:hover {
  color: #D30102; }

.cart__name {
  color: #F90001; }

.cart__description {
  font-size: 1.95vw;
  line-height: 2.26vw; }

.cart__row .quantity__list {
  margin: 0; }

.cart__price, .cart__sum {
  font-weight: 500;
  font-size: 2.73vw;
  line-height: 3.56vw; }

.cart__order-sum-list {
  border-top: 0.08vw solid #C6C6C6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.6vw;
  padding-top: 5.46vw; }

.cart__order-text {
  font-size: 2.73vw;
  line-height: 3.2vw;
  color: #707070; }

.cart__order-sum {
  margin-left: 4.68vw;
  font-weight: bold;
  font-size: 3.51vw;
  line-height: 4.13vw; }

.cart__row-btn {
  display: flex;
  justify-content: space-between;
  padding: 5.46vw 1.6vw 0; }

.cart__btn_gray {
  width: 25.58vw;
  height: 5.07vw;
  border: 0.16vw solid #707070;
  box-sizing: border-box;
  border-radius: 1.17vw;
  font-size: 1.95vw;
  line-height: 2.26vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070; }

.cart__btn_gray:hover {
  background-color: #D30102;
  border: 0.16vw solid #D30102;
  color: #fff; }

.cart__btn_red {
  width: 25.58vw;
  height: 5.07vw;
  border: 0.16vw solid #F90001;
  background-color: #F90001;
  box-sizing: border-box;
  border-radius: 1.17vw;
  font-size: 1.95vw;
  line-height: 2.26vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; }

.cart__btn_red:hover {
  background-color: #D30102;
  border: 0.16vw solid #D30102;
  color: #fff; }

.login__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.login__column {
  width: 46.8vw;
  min-height: 60vw;
  margin: 0 1.6vw;
  padding: 5.85vw;
  text-align: center;
  border: 0.08vw solid #C6C6C6;
  border-radius: 1.6vw;
  display: flex;
  justify-content: center; }

.state {
  position: absolute;
  left: -10000px; }

.flex-tabs .login__label-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 0.08vw solid #F90001;
  border-radius: 1.6vw; }

.tab {
  display: flex;
  font-size: 1.6vw;
  padding: 1vw 1.4vw;
  border-radius: 1.4vw;
  background-color: #ffffff;
  color: #F90001;
  text-align: center;
  cursor: pointer; }

.tab:hover {
  background-color: #D30102;
  color: #FFF; }

.panel {
  text-align: left;
  padding-top: 0.8vw;
  min-height: 23.4vw;
  display: none;
  width: 100%;
  flex-basis: auto; }
  .panel .resp-tab {
    border-radius: 0.39vw;
    font-weight: normal;
    border: 0.08vw #C6C6C6 solid;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%; }
  .panel .resp-tab th, .panel .resp-tab td {
    padding: 1.01vw 0.8vw;
    font-size: 0.8vw;
    border: none;
    vertical-align: top;
    text-align: center; }
    .panel .resp-tab th span, .panel .resp-tab td span {
      margin-right: 0.8vw; }
  .panel .resp-tab th {
    color: #FFF;
    background: #C6C6C6;
    font-weight: bold;
    text-align: center; }
  .panel .resp-tab tr {
    border-top: 0.08vw #C6C6C6 solid; }

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label,
#check-center:checked ~ #check-center-label,
#check-via:checked ~ #check-via-label {
  background-color: #F90001;
  color: #ffffff; }

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel,
#check-center:checked ~ #check-center-label,
#check-via:checked ~ #check-via-label {
  display: block; }

input[type="password"], input[type="text"] {
  width: 100%;
  border-radius: 1.6vw;
  border: 0.16vw solid #F90001;
  outline: 0;
  line-height: 4vw;
  padding: 0 1.6vw;
  margin-top: 3.12vw;
  font-size: 1.6vw; }

.checkbox {
  margin-top: 3.9vw; }

input[type="submit"] {
  margin-top: 5.07vw;
  width: 20vw;
  height: 5.07vw;
  border: 0.16vw solid #F90001;
  background-color: #F90001;
  box-sizing: border-box;
  border-radius: 1.7vw;
  font-size: 1.95vw;
  line-height: 2.26vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer; }
  input[type="submit"]:hover {
    background-color: #D30102;
    color: #FFF; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

.bx-filter-param-text {
  font-size: 1.48vw;
  color: #707070; }

.bx-filter-param-text:before, .order__pay:before {
  margin-top: -0.16vw;
  content: " ";
  color: #ffffff;
  display: inline-block;
  font: 1vw/1.25vw Arial;
  margin-right: 0.8vw;
  text-align: center;
  width: 1.17vw;
  height: 1.17vw;
  background: #F90001;
  border: 0.23vw solid #F90001;
  border-image: initial;
  vertical-align: middle; }

input:checked + .bx-filter-param-text:before, input:checked + .order__pay:before {
  content: "\ea10";
  font-family: "icomoon-free"; }

.bx-captcha {
  margin-top: 3.12vw; }

.bx-authform-description-container {
  margin-top: 1vw;
  font-size: 1.48vw;
  color: #707070; }

.login__column:first-child {
  background-color: #fff;
  border: 0.16vw solid #fff;
  box-shadow: 0 0.31vw 1.6vw rgba(0, 0, 0, 0.3); }

.login__contacts {
  text-align: left;
  width: 100%; }

.login__title {
  font-weight: bold;
  font-size: 3.12vw; }

.login__subtitle {
  margin-top: 2.74vw;
  font-size: 2.73vw;
  color: #707070; }

.login__address {
  margin-top: 1.17vw;
  font-weight: 300;
  font-size: 1.72vw;
  color: #707070; }

.login__phone {
  margin-top: 1.17vw;
  font-size: 1.95vw;
  color: #707070; }

.login__time {
  margin-top: 1.20vw;
  font-size: 1.72vw;
  font-weight: 700;
  color: #707070; }
  .login__time span {
    font-weight: 300; }

.order__row, .order__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.order__label-row {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 0.08vw solid #F90001;
  border-radius: 1.6vw; }

.order__column {
  min-height: 42vw;
  margin: 0 1.6vw;
  padding: 3.59vw;
  text-align: center; }

.order__column-bottom {
  width: 22.2vw;
  margin-top: 3.12vw;
  padding: 1.6vw;
  background-color: #fff;
  border-radius: 1.6vw;
  border: 0.16vw solid #F90001;
  cursor: pointer; }

.order__column-bottom:hover {
  background-color: #D30102;
  color: #fff;
  border: 0.16vw solid #D30102; }

.order__address, .order__time {
  font-size: 1.6vw; }

.order__column:first-child {
  width: 54vw; }

.order__column:last-child {
  width: 39vw;
  border-radius: 1.6vw;
  box-shadow: 0 0.31vw 1.6vw rgba(0, 0, 0, 0.3);
  background-color: #fff; }

.order__list {
  text-align: left; }

.order__title {
  font-size: 2.73vw; }

.order__item {
  margin-top: 2vw;
  width: 100%; }

.order__name-description {
  width: 24vw; }

.order__name {
  font-size: 1.87vw;
  font-weight: 700; }

.order__description {
  font-size: 1.6vw; }

.order__sum-quantity {
  width: 7vw; }

.order__sum {
  font-size: 1.87vw;
  text-align: right; }

.order__quantity {
  text-align: right;
  font-size: 1.6vw; }

.order__row-sum {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 4.68vw;
  padding-top: 1.6vw;
  border-top: 0.16vw solid #C6C6C6; }

.order__title-sum {
  width: 66.6666666667%;
  font-size: 1.95vw; }

.order__sum-end {
  width: 33.3333333333%;
  font-size: 1.95vw;
  text-align: right; }

input.order__big {
  width: 66.6666666667%; }

input.order__small {
  width: 14.2133333333vw; }

.order__select-pay {
  margin-top: 3.12vw;
  width: 100%;
  background-color: #F5F4F4;
  border-radius: 1.6vw;
  border: 0.16vw solid #F5F4F4;
  padding: 2.5vw; }

.order-title {
  font-size: 2vw;
  margin-bottom: 1.6vw; }

.order__pay {
  font-size: 1.6vw;
  margin-top: 1vw;
  cursor: pointer; }

/*==============================================
====================footer======================
==============================================*/
.footer__red {
  background-color: #F90001; }

.footer__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.73vw 1.6vw; }

.footer__logo {
  width: 16vw; }

.footer__text {
  font-family: BetinaScriptRus;
  font-style: normal;
  font-size: 1.9vw;
  line-height: 90%;
  margin-top: 3vw;
  width: 22vw;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.02em;
  color: #FFFFFF; }

.footer__yellow {
  background-color: #E4E22C; }

.footer__footer-bottom {
  display: flex;
  align-items: center;
  font-size: 1.25vw;
  height: 4vw;
  padding: 0 1.6vw; }

.footer__copyright {
  color: #F90001; }

.footer__footer-bottom a {
  color: #F90001;
  margin-left: 2.73vw; }

.footer__footer-bottom a:hover {
  color: #fff; }

.footer__menu {
  list-style: none; }

.footer__menu-link {
  font-weight: 500;
  font-size: 1.8vw;
  line-height: 3.2vw;
  color: #FFFFFF; }

.footer__menu-link:hover {
  color: #E4E22C; }

.footer__address {
  font-size: 1.48vw;
  line-height: 3vw;
  color: #FFFFFF; }

.footer__address:before {
  background-image: url("../img/footer__address.svg");
  background-size: 0.8vw;
  position: absolute;
  content: "";
  background-position: center;
  width: 2.81vw;
  height: 3.8vw;
  background-repeat: no-repeat;
  margin-left: -2.5vw; }

.footer__phone {
  font-size: 1.48vw;
  line-height: 3vw;
  color: #FFFFFF; }

.footer__phone:before {
  background-image: url("../img/footer__phone.svg");
  background-size: 0.8vw;
  position: absolute;
  content: "";
  background-position: center;
  width: 2.81vw;
  height: 3.2vw;
  background-repeat: no-repeat;
  margin-left: -2.5vw; }

.footer__social, .column-between {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 12vw; }

.footer__social img, .slide-item__social .hover img {
  width: 3.2vw; }

.first, .second {
  border: 0.16vw solid transparent;
  margin: 0;
  padding: 0; }

.first {
  opacity: 1;
  display: block;
  position: absolute;
  z-index: 100;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s; }

.first:hover {
  opacity: 0.00; }

@media all and (max-width: 415px) {
  .header__top {
    height: 18.7vw;
    z-index: 5;
    position: relative;
    background-color: #fff; }

  .header__logo {
    width: 38.92vw;
    margin-left: 20.22vw; }

  .header__town-time, .header__address-phone, span.login-greg-none, .reg, .main_menu__price {
    display: none; }

  .header__link.login:after {
    width: 9.6vw;
    height: 9.6vw;
    font-size: 10.87vw;
    top: 3.54vw;
    right: 18.95vw;
    position: relative;
    color: #707070; }

  .main_menu__back {
    position: relative;
    top: -3.03vw;
    right: 3.03vw;
    width: 5vw;
    height: 5vw;
    box-shadow: 0.08vw 0.08vw 0.39vw rgba(0, 0, 0, 0.34); }

  .main_menu__quantity {
    font-size: 3.29vw;
    color: #fff; }

  .main_menu__cart {
    padding-right: 1.52vw;
    right: 0;
    top: 5vw;
    position: absolute;
    z-index: 5; }

  .main_menu__cart a:before {
    width: 9.1vw;
    margin-left: 0;
    height: 9.1vw;
    font-size: 9.1vw;
    color: #707070; }

  .main_menu .nav-list {
    margin: 0;
    padding: 2.64vw 5vw;
    border-bottom: 0.08vw solid #707070; }

  .main_menu .nav-list:hover, .main_menu .nav-list:active {
    background-color: #F90001;
    color: #fff; }

  .main_menu .nav-list .root-item {
    margin: 0;
    font-size: 5vw; }

  .main_menu .nav-list .root-item:hover {
    background: none;
    box-shadow: none;
    border-radius: 0;
    padding: 5vw 0;
    margin: 0;
    color: #fff; }

  .main_menu a {
    color: #D30102; }

  .slide-wrapper {
    height: 35vw; }

  header {
    /* скрываем чекбокс */
    /* стилизуем кнопку */
    /* добавляем "гамбургер" */
    /* контейнер меню */
    /* элементы меню */ }
    header .menu .menu-list {
      float: none; }
      header .menu .menu-list a.menu-link {
        font-size: 27px;
        color: #8c8c8c;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 13px;
        line-height: 1.4; }
      header .menu .menu-list a.menu-link:hover {
        border-bottom: 0; }
      header .menu .menu-list a.menu-link-active {
        color: #212121;
        font-weight: 700;
        line-height: 1.4;
        border-bottom: 0; }
    header #menu-toggle {
      opacity: 0; }
    header .menu-btn {
      display: flex;
      /* используем flex для центрирования содержимого */
      align-items: center;
      /* центрируем содержимое кнопки */
      position: absolute;
      top: 4.8vw;
      left: 4.04vw;
      width: 9.6vw;
      height: 9.6vw;
      cursor: pointer;
      z-index: 6; }
    header .menu-btn > span,
    header .menu-btn > span::before,
    header .menu-btn > span::after {
      display: block;
      position: absolute;
      width: 9.6vw;
      height: 0.76vw;
      background-color: #000; }
    header .menu-btn > span::before {
      content: '';
      top: -2.53vw; }
    header .menu-btn > span::after {
      content: '';
      top: 2.53vw; }
    header .top-menu {
      display: block;
      position: absolute;
      visibility: hidden;
      top: 19.21vw;
      left: 0;
      width: 100%;
      margin: 0;
      list-style: none;
      background-color: #ffffff;
      box-shadow: 0.08vw 0 1.52vw rgba(0, 0, 0, 0.2);
      z-index: 4; }
      header .top-menu .menu-item {
        padding: 0;
        line-height: 1.4; }
      header .top-menu .menu-item.active {
        background-color: #CFD8DC; }
    header .menu-link {
      display: block;
      color: #383838;
      font-weight: 100;
      text-decoration: none; }
    header .menu-link:hover {
      background-color: #CFD8DC; }
    header #menu-toggle:checked ~ .menu-btn > span {
      transform: rotate(45deg); }
    header #menu-toggle:checked ~ .menu-btn > span::before {
      top: 0;
      transform: rotate(0); }
    header #menu-toggle:checked ~ .menu-btn > span::after {
      top: 0;
      transform: rotate(90deg); }
    header #menu-toggle:checked ~ .top-menu {
      visibility: visible;
      left: 0;
      width: 60vw;
      box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7); }

  main .main__title {
    font-size: 8vw;
    line-height: 12vw; }
  main .main__frame {
    width: 50%; }
  main .main__frame:nth-child(2n) {
    border-right: 0; } }

/*# sourceMappingURL=style.css.map */
