* {
    font-family: roboto, sans-serif;
    box-sizing: border-box;
}
@font-face {
    font-family: "BetinaScriptRus";
    src: url("betina-script-rus-bold.otf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

a {text-decoration: none;}

.container {
    width: 100%;
}

.header__top {
    padding: 0.9vh 20px
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__row-top {
    display: flex;
    justify-content: left;
    align-items: center;
}
.row {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 20vw;
}

.header__back-red {
    background-image: url(../img/bg-red-1920.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}

.header__login {
    text-align: right;
}

.header__text {
    font-size: 1.5vw;
    line-height: 2.8vw;
    color: #000000;
}

.header__text:before {
    content: "";
    background-position: center;
    width: 2.8vw;
    height: 2.8vw;
    background-repeat: no-repeat;
    margin-left: -2.5vw;
}
.town-icon:before {
    background-image: url('../img/header__town-icon.svg');
    background-size: 1vw;
    position: absolute;
}
.time-icon:before {
    background-image: url('../img/header__time-icon.svg');
    background-size: 1vw;
    position: absolute;
}

.address:before {
    background-image: url('../img/header__address-icon.svg');
    background-size: 1vw;
    position: absolute;
}
.header__town-time {
    margin-left: 2vw;
    margin-right: 2vw;
}
.header__text.login:after, .header__text.reg:after {
    content: "";
    background-position: center;
    width: 2.8vw;
    height: 2.8vw;
    background-repeat: no-repeat;
    position: absolute;
}
.header__text.login, .header__text.reg {
    margin-right: 2vw;
}
.header__text.login:after {
    background-image: url('../img/header__login-icon.svg');
    background-size: 1vw;
}
.header__text.reg:after {
    background-image: url('../img/header__reg-icon.svg');
    background-size: 1vw;
}

.header__link {
    color: #000;
}
.header__link:hover {
    color: #D30102;
}

.header__text_red {
    font-size: 1.5vw;
    line-height: 2.8vw;
    color: #CF1C21;
    margin-left: 10px;
}

.main_menu {
    display: flex;
    align-items: center;
    padding-left: 0;
    color: #fff;
    list-style: none;
}

.main_multimenu {
    display: flex;
    align-items: center;
    padding-left: 0;
    color: #fff;
    list-style: none;
}

.main_menu .nav-list {
    margin: 21px 2px;
}

.main_menu .nav-list .root-item {
    margin: 0 20px;
    font-size: 1.8vw;
}
.main_menu .nav-list .root-item:hover {
    background: #F90001;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    padding: 13px 20px;
    margin: 0;
    color: #E4E22C;
}

.main_menu__back {
    position: relative;
    top: -17px;
    right: 15px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #F90001;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.34);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_menu__quantity {
}

.main_menu__price {
    font-size: 1.8vw;
}
.main_menu a {
    color: #fff;
}
.main_menu__cart {
    padding-right: 20px;
}

.main_menu__cart a {
    display: flex;
    align-items: center;
}

.main_menu__cart a:hover {
    color: #E4E22C;
}

.main_menu__cart a i{
    width: 44px;
    height: 44px;
    background: url("../img/nav__icon.png") no-repeat center;
}


.slide-wraper {
    height: 62vh;
}

.slide-item__row {
    display: flex;
    justify-content: space-between;
}

.slide-item__text {
    margin-left: 4vw;
}

.slide-item__header {
    font-family: "BetinaScriptRus";
    font-weight: bold;
    font-size: 3.6vw;
    line-height: 4.6vw;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.slide-item__span{
    font-family: "BetinaScriptRus";
    font-weight: bold;
    font-size: 5.6vw;
    line-height: 3.6vw;
    letter-spacing: 0.02em;
    color: #E4E22C;
    display: block;
    padding-top: 1vw;
}
.slide2 .slide-item__header {
    font-size: 6.6vw;
    padding-top: 6vw;
}
.slide2 .slide-item__span{
    font-family: "BetinaScriptRus";
    font-weight: bold;
    font-size: 6.6vw;
    line-height: 3.6vw;
    letter-spacing: 0.02em;
    color: #E4E22C;
    display: block;
    padding-top: 4vw;
}
.slide-item__span-add{
    font-family: "BetinaScriptRus";
    font-weight: bold;
    font-size: 2.6vw;
    line-height: 5.6vw;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 5vw;
}
.slide-item__info {
    font-size: 21px;
    margin-top: 35px;
    color: #FFCCCC;
}
.slide1 {
    background-image: url(../img/frame.png);
    background-position: center top;
    background-repeat: no-repeat;
}
.slide1 .slide-item__header {
    width: 40%;
    margin-top: 7vh;
}

.slide1 .slide-item__img {
    width: 507px;
    height: 62vh;
    padding-right: 46px;
    background-image: url(../img/cook_pizza.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.slide2 .slide-item__img {
    width: 600px;
    height: 62vh;
    padding-right: 46px;
    background-image: url(../img/birthday.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.slide-item__social{
    position: absolute;
    right: 20px;
    top: 26px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 140px;
}

.owl-dots {
    position: relative;
    bottom: 60px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 23px;
    height: 23px;
    margin: 5px 7px;
    background: #FF5758;
    border: 1px solid #A30500;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #A30500;
    border: 1px solid #FF5758;
}


/*==============================================
===================== Main =====================
==============================================*/

main {
    background-image: url(../img/background-image.jpg);
    background-position: center top;
    padding-bottom: 100px;
}
.main__title {
    margin: 30px 20px 50px;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    color: #D12621;
}

.main__item-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main__frame {
    width: 25%;
    padding: 20px;
    margin: 20px 0;
    border-right: 1px solid #C6C6C6;
}
.main__frame:nth-child(4n+4) {
    border-right: 0px solid;
}

.main__block-item {

}
.main__block-item a {
    opacity: .9;
}
.main__block-item a:hover {
    opacity: 1;
}

.main__block-item img {
    width: 100%;
}

.main__name {
    margin-top: 19px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 1.8vw;
    line-height: 2vw;
    display: flex;
    color: #000000;
    min-height: 48px;
}

.main__description {
    margin-bottom: 29px;
    font-size: 1.1vw;
    line-height: 1.5vw;
    min-height: 54px;

    color: #707070;
}

.main__item-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__item-price {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
}
.main__item-info {
    font-size: 12px;
}

.main__item-btn {
    width: 97px;
    height: 48px;

    border: 2px solid #F90001;
    box-sizing: border-box;
    border-radius: 15px;

    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #F90001;
}
.main__item-btn:hover {
    background-color: #F90001;
    color: #fff;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -ms-transition-duration: 1s;

}

.main__title-about {
    margin: 80px 20px 50px;
    font-family: BetinaScriptRus;
    font-weight: bold;
    font-size: 55px;
    line-height: 35px;

    color: #CF1C21;
}
.about__row {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.about__text {
    width: 55%;
    font-size: 29px;
    line-height: 40px;
    color: #3E3E3E;
    padding-right: 20px;
}
.about__text p{
    margin: 30px 0;
}
.about__photos {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about__photo {
    margin: 19px 0;
}
.about__photo.photo1 {
    width: 100%;
    height: 470px;
    background-image: url(../img/about__photo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about__photo.photo2 {
    width: 47%;
    height: 470px;
    background-image: url(../img/about__photo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about__photo.photo3 {
    width: 47%;
    height: 470px;
    background-image: url(../img/about__photo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__info {
    /* Доставка осуществляется 10:00 - 20:00 */
    font-size: 38px;
    line-height: 46px;
    padding: 0 20px;
    color: #3E3E3E;
}

.delivery__row {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.delivery__table {
    width: 50%;
    padding-right: 20px;
}
.delivery__table-row {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    line-height: 62px;

    color: #3E3E3E;


}
.delivery__table-row-header {
    display: flex;
    justify-content: space-between;
    /* Район доставки */
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    /* identical to box height */

    color: #000000;
}

.delivery__photo {
    border-radius: 22px;
    width: 50%;
    height: 830px;
    background-image: url(../img/delivery__photo-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts__row {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.contacts__title {
    /* Центр */
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}
.contacts__text {
    font-family: "Roboto Light";
    font-size: 23px;
    line-height: 30px;
}
.contacts__subtitle {
    font-size: 23px;
    line-height: 26px;
    margin-top: 38px;
}
.contacts__title-phone {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}
.contacts__phone {
    margin-top: 23px;
    font-size: 30px;
    line-height: 35px;
}
.contacts__phone + .contacts__title-phone {
    margin-top: 21px;
}

.goods__row {
    display: flex;
    justify-content: space-between;
}
.goods__photo-price {
    width: 50%;
    text-align: center;
}
.goods__photo-price img {
    width: 100%;
    padding: 30px;
}
.goods__description {
     width: 50%;
     padding: 30px 20px;
 }
.goods__name {
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
}
.goods__composition-title {
    margin-top: 13px;
    font-size: 28px;
    line-height: 33px;
}
.goods__composition {
    font-size: 25px;
    line-height: 29px;
    color: #4D4C4C;
}
.goods__composition-row {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.goods__column {
    width: 50%;
    font-size: 22px;
    line-height: 26px;
    color: #707070;
    margin-bottom: 12px;
}
.goods__column-right {
    width: 50%;
    text-align: right;
    font-size: 22px;
    line-height: 26px;
    color: #707070;
    margin-bottom: 12px;
}

/*==============================================
====================footer======================
==============================================*/

.footer__red {
    background-color: #D30102;
}

.footer__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 20px;
}
.footer__text {
    font-family: BetinaScriptRus;
    font-style: normal;
    font-size: 27px;
    line-height: 90%;
    margin-top: 26px;

    width: 310px;

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.footer__yellow {
    background-color: #FEB711;
}
.footer__footer-bottom {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.footer__copyright {
    color: #D30102;
}

.footer__footer-bottom a {
    color: #D30102;
    margin-left: 35px;
}

.footer__footer-bottom a:hover {
    color: #fff;
}

.footer__menu {
    list-style: none;
}

.footer__menu-link {
    font-weight: 500;
    font-size: 21px;
    line-height: 42px;

    color: #FFFFFF;
}
.footer__menu-link:hover {
    color: #E4E22C;
}

.footer__address {
    font-family: Roboto Light;
    font-size: 20px;
    line-height: 42px;

    color: #FFFFFF;
}
.footer__address:before {
    background-image: url('../img/footer__address.svg');
    background-size: 0.8vw;
    position: absolute;
    content: "";
    background-position: center;
    width: 2.8vw;
    height: 3.8vw;
    background-repeat: no-repeat;
    margin-left: -2.5vw;
}


.footer__phone {
    font-size: 20px;
    line-height: 42px;

    color: #FFFFFF;
}
.footer__phone:before {
    background-image: url('../img/footer__phone.svg');
    background-size: 0.8vw;
    position: absolute;
    content: "";
    background-position: center;
    width: 2.8vw;
    height: 3.2vw;
    background-repeat: no-repeat;
    margin-left: -2.5vw;
}

.footer__social, .column-between{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 168px;
}

.first, .second {
    border:2px solid transparent;
    margin:0;
    padding:0;
}
.first {
    opacity: 1;
    display: block;
    position: absolute;
    z-index: 100;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -ms-transition-duration: 1s;
}

.first:hover {
    opacity:0.00;
}



@media all and (max-width: 415px) {

}