* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  width: 100%;
  font-family: Montserrat, Arial;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

//
// HEADER
//

header {
  .container {
    position: relative;
    z-index: 2;
    .header-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      height: 90px;

      .address {
        font-size: 12px;
        color: rgb(25, 25, 25);
        line-height: 1.75;

        .ping {
          display: flex;

          &:before {
            content: url(../img/adres.png);
            transform: translate(-7px, 2px);
          }
        }

        a {
          color: rgb(241, 70, 10);
          text-decoration: none;
          padding-left: 10px;

          &:hover {
            color: red;
          }
        }
      }

      .mail-form {
        font-size: 12px;
        color: rgb(25, 25, 25);
        line-height: 1.75;

        .mail {
          a {
            color: rgb(25, 25, 25);
            text-decoration: none;
            padding-left: 10px;

            &:hover {
              color: grey;
            }

            display: flex;

            &:before {
              content: url(../img/mail.png);
              transform: translate(-7px, 1px);
            }
          }
        }

        a {
          color: rgb(241, 70, 10);
          text-decoration: none;
          padding-left: 22px;

          &:hover {
            color: red;
          }
        }
      }

      .tel {
        display: flex;

        &:before {
          content: url(../img/phone.png);
          transform: translate(-7px, 1px);
        }

        a {
          font-size: 18px;
          color: rgb(25, 25, 25);
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: gray;
          }
        }
      }

      button {
        border-radius: 3px;
        background-color: #f1460a;
        border: 0;
        left: 1418px;
        top: 26px;
        width: 141px;
        height: 37px;
        cursor: pointer;

        .btn {
          font-size: 13px;
          color: rgb(255, 255, 255);
        }

        &:hover {
          background-color: #d02718;
        }

      }
    }

    .nav-container {
      nav.container {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .top-menu {
          //background: white;
          position: relative;
          border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
        }

        .top-menu:after, .submenu:after {
          content: "";
          display: table;
          clear: both;
        }

        .top-menu > li {
          float: left;
        }

        .top-menu > li > a {
          display: block;
          padding: 14px;
          font-size: 14px;
          letter-spacing: 1px;
          color: #ffffff;
          transition: .2s linear;
        }
        .active {
          border-bottom: 1px rgba(255, 255, 255, 1) solid;
        }
        .top-menu > li > a:hover {
          color: #d4d4d4;
        }

        .dropdown:after {
          content: "\f107";
          font-family: FontAwesome;
          margin-left: 4px;
        }

        .submenu, .submenu-standart {
          border-top: 1px solid #e5e5e5;
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .07);
          background: white;
          padding: 25px 0;
          position: absolute;
          top: 100%;
          //left: 0;
          z-index: 5;
          opacity: 0;
          visibility: hidden;
          transform: translate3d(0, 30px, 0);
          transition: .5s ease-out;
          transform-origin: 0% 0%;
        }

        .submenu {
          width: 100%;
        }

        .submenu-standart {
          min-width: 200px;
          padding: 10px 0;
        }

        .dropdown-standart {
          position: relative;
        }

        .top-menu > li:hover .submenu, .top-menu > li:hover .submenu-standart {
          opacity: 1;
          visibility: visible;
          transform: translate3d(0, 0, 0);
        }

        .submenu > li {
          float: left;
          width: calc(100% / 3);
          padding: 0 18px;
          border-right: 1px solid #e5e5e5;
        }

        .submenu-standart li {
          padding: 0 18px;
        }

        .submenu > li:last-child {
          border-right: none;
        }

        .submenu img {
          display: block;
          width: 100%;
        }

        .submenu li a, .submenu-standart li a {
          display: block;
          padding: 5px 0;
          color: #666;
          font-size: 13px;
        }

        .submenu li .link-image {
          padding: 0;
        }

        .submenu li a:hover, .submenu-standart li a:hover {
          color: #f1460a;
        }

        .submenu h3 {
          font-family: 'Playfair Display', serif;
          font-size: 20px;
          font-weight: 400;
          margin: 10px 0;
        }

        // Бургер меню меню для мобильных (скрываем в ПК версии)

        #menu-toggle {
          display: none;
        }

        .menu-btn {
          display: none;
        }
      }
    }
  }
  .slide-wraper {
      position: relative;
      width: 100%;
      overflow: hidden;
    z-index: 1;
    margin-top: -42px;

      .slide-item.slide1 {
        background-image: url(../img/slider-bg-1.jpg);
        background-position: center center; /* Положение фона */
        background-repeat: no-repeat; /* Отменяем повторение фона */
        height: 884px;
      }

      .slide-item.slide2 {
        background-image: url(../img/slider-bg-2.jpg);
        background-position: center center; /* Положение фона */
        background-repeat: no-repeat; /* Отменяем повторение фона */
        height: 884px;
      }

      .slide-item {
        .slide-item__header {
          padding-top: 100px;
          width: 690px;
          font-size: 47px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.213;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }

        .slide-item__text {
          padding-top: 30px;
          width: 530px;
          font-size: 15px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.73;
          letter-spacing: normal;
          text-align: left;
          color: #e1e1e1;
        }

        button.btn {
          font-size: 14px;
          height: 57px;
          margin-top: 50px;
          padding: 0px 20px;
          border-radius: 30px;
          text-transform: uppercase;
          border: 0px;
          background-color: #30a6f9;
          color: #ffffff;
        }

        button.btn:hover {
          background-color: #0688fa;
        }
      }
    }

}

@media screen and (max-width: 670px)  {
  header {
    .container {
      .header-top {
        display: block;
        height: 45px;
        .logo {
          overflow: hidden;
          width: 43px;
          float: left;
          margin: 3px 17px 3px 3px;
        }
        .mail-form, button, .address {
          display: none;
        }
        .tel {
          padding-top: 12px;
        }
      }
      .nav-container {
        nav.container {
          // Бургер меню меню для мобильных

          /* скрываем чекбокс */
          #menu-toggle {
            opacity: 0;
          }

          /* стилизуем кнопку */
          .menu-btn {
            display: flex;
            /* используем flex для центрирования содержимого */
            align-items: center;
            /* центрируем содержимое кнопки */
            position: absolute;
            top: 18px;
            right: 20px;
            width: 25px;
            height: 25px;
            cursor: pointer;
            z-index: 6;
          }

          /* добавляем "гамбургер" */
          .menu-btn > span,
          .menu-btn > span::before,
          .menu-btn > span::after {
            display: block;
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: #f1460a;;
          }

          .menu-btn > span::before {
            content: '';
            top: -6px;
          }

          .menu-btn > span::after {
            content: '';
            top: 6px;
          }

          /* контейнер меню */
          .top-menu {
            display: block;
            position: absolute;
            visibility: hidden;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0;
            padding: 5px 0 0 0;
            list-style: none;
            background-color: #ffffff;
            box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
            z-index: 4;

            .menu-item {
              font-size: 20px;
              display: block;
              padding: 0px 15px;
              text-align: left;
              line-height: 1.4;
            }
          }

          /* элементы меню */
          .menu-link {
            display: block;
            color: #ffffff;
            font-weight: 100;
            text-decoration: none;
          }

          .menu-link:hover {
            background-color: #CFD8DC;
          }

          #menu-toggle:checked ~ .menu-btn > span {
            transform: rotate(45deg);
          }

          #menu-toggle:checked ~ .menu-btn > span::before {
            top: 0;
            transform: rotate(0);
          }

          #menu-toggle:checked ~ .menu-btn > span::after {
            top: 0;
            transform: rotate(90deg);
          }

          #menu-toggle:checked ~ .top-menu {
            visibility: visible;
            left: 0;
          }

          .menu-btn > span,
          .menu-btn > span::before,
          .menu-btn > span::after {
            transition-duration: .25s;
          }

          .top-menu li {
            width: 100%;
            height: auto !important;
          }

          .top-menu > li {
            border-bottom: 1px solid #e5e5e5;
          }

          .top-menu > li > a {
            padding: 18px;
            transition: 0s;
          }

          .submenu,
          .submenu-standart {
            position: relative;
            display: none;
            box-shadow: none;
            padding: 0;
            background: rgba(0, 0, 0, .02);
          }
          .submenu-standart li {
            padding: 0px;
          }
          .submenu-standart li a {
            padding: 12px 18px;
          }

          .submenu > li {
            border-right: none;
            border-bottom: 1px solid #e5e5e5;
            padding: 18px;
          }

          .submenu h3 {
            margin: 0 0 10px
          }

          .submenu .image-header {
            margin: 10px 0;
          }

          .submenu li:last-of-type {
            border-bottom: none
          }

          .top-menu > li:hover .submenu,
          .top-menu > li:hover .submenu-standart {
            display: block;
          }
        }
      }
    }
  }
}

