* {
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  font-family: Montserrat, Arial;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

//
// HEADER
//

header {
  .container {
    .header-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      height: 90px;
      .address {
        font-size: 12px;
        color: rgb(25, 25, 25);
        line-height: 1.75;
        .ping {
          display: flex;
          &:before {
            content: url(../img/adres.png);
            transform: translate(-7px, 2px);
          }
        }
        a {
          color: rgb(241, 70, 10);
          text-decoration: none;
          padding-left: 10px;
          &:hover {
            color: red;
          }
        }
      }
      .mail-form {
        font-size: 12px;
        color: rgb(25, 25, 25);
        line-height: 1.75;
        .mail {
          a {
            color: rgb(25, 25, 25);
            text-decoration: none;
            padding-left: 10px;
            &:hover {
              color: grey;
            }
            display: flex;
            &:before {
              content: url(../img/mail.png);
              transform: translate(-7px, 1px);
            }
          }
        }
        a {
          color: rgb(241, 70, 10);
          text-decoration: none;
          padding-left: 22px;
          &:hover {
            color: red;
          }
        }
      }
      .tel {
        display: flex;
        &:before {
          content: url(../img/phone.png);
          transform: translate(-7px, 1px);
        }
        a {
          font-size: 18px;
          color: rgb(25, 25, 25);
          font-weight: bold;
          text-decoration: none;
          &:hover {
            color: gray;
          }
        }
      }
      button {
        border-radius: 3px;
        background-color: #f1460a;
        border: 0;
        left: 1418px;
        top: 26px;
        width: 141px;
        height: 37px;
        cursor: pointer;
        .btn {
          font-size: 13px;
          color: rgb(255, 255, 255);
        }
        &:hover {
          background-color: #d02718;
        }

      }
    }
    .nav-container {
      ul.rd-navbar-nav {
        padding-inline-start: 0px;
        li.rd-nav-item {
          display: inline-block;
          margin-left: 50px;
          a.rd-nav-link {
            color: #333;
            font-size: 14px;
            transition: .25s;
            text-decoration: none;
          }
          &:first-child {
            margin-left: 0px;
          }
        }
      }
    }
  }
}
