/*
Error: Invalid CSS after "...bility: inherit": expected "{", was ";"
        on line 541 of style.scss

536:   }
537:   /************** /Burger menu mobile ***************\/
538: 
539:   /******* burger left menu mobile *******\/
540:   .left-menu {
541: /    visibility: inherit;
542:     position: relative;
543:     top: 0;
544:     left: 0;
545:     margin: 0;
546:     box-shadow: none;

Backtrace:
style.scss:541
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:688:in `block'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:421:in `media_directive'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:234:in `special_directive'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:209:in `directive'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/mac/.rvm/gems/ruby-2.7.0/gems/sass-3.7.4/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
/Users/mac/.rvm/gems/ruby-2.7.0/bin/ruby_executable_hooks:24:in `eval'
/Users/mac/.rvm/gems/ruby-2.7.0/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...bility: inherit\": expected \"{\", was \";\"\A         on line 541 of style.scss\A \A 536:   }\A 537:   /************** /Burger menu mobile ***************/\A 538: \A 539:   /******* burger left menu mobile *******/\A 540:   .left-menu {\A 541: /    visibility: inherit;\A 542:     position: relative;\A 543:     top: 0;\A 544:     left: 0;\A 545:     margin: 0;\A 546:     box-shadow: none;"; }
